{% ## Grab Data from Global Metafields, as set up via Metafields Guru ## %}

<div class="retail-logos-list">

        

        {%- if shop.metafields.global.retail_logos != blank -%}

            <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "initialIndex": 2, "cellAlign": "center"}'>
            
            {% assign file = shop.metafields.global.retail_logos.value %}
            
            {% for image in shop.metafields.global.retail_logos.value %}
            
            <div class="carousel-cell">
            
            <img
            
            class="lazyload"
            
            src=" {{ image | image_url: width: '1640x' }}"
            
            data-widths="[475, 880, 1200, 1620]"
            
            data-aspectratio="{{ image.aspect_ratio }}"
            
            data-sizes="auto"
            
            />

        {% endfor %}

    {% endif %}
        
       
        
        
        
        
     </div>