{% ## Grab Data from Global Metafields, as set up via Metafields Guru ## %}

<div class="logo-slider">

        

        {%- if shop.metafields.global.retail_logos != blank -%}

            
            {% assign file = shop.metafields.global.retail_logos.value %}
            
            {% for image in shop.metafields.global.retail_logos.value %}

                {{ image | image_url: width: image.width | image_tag: class: 'logo-slider-image', loading: 'lazy' }}

            {% endfor %}
        


    {%- endif -%}
        
       
        
        
        
        
     </div>