<svg version="1.1"class="icon cart icon-cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 48.2 45" style="enable-background:new 0 0 48.2 45;" xml:space="preserve">
<title>Cart</title>
<path class="wheel" fill="currentColor" d="M37.3,45c-3.5,0-6.4-2.9-6.4-6.4
 c0-3.5,2.9-6.4,6.4-6.4s6.4,2.9,6.4,6.4C43.7,42.1,40.8,45,37.3,45z M37.3,36.5c-1.2,0-2.1,0.9-2.1,2.1c0,1.2,0.9,2.1,2.1,2.1
 c1.2,0,2.1-0.9,2.1-2.1C39.4,37.4,38.4,36.5,37.3,36.5z"/>
<path class="wheel" fill="currentColor" d="M20.5,45c-3.5,0-6.4-2.9-6.4-6.4c0-3.5,2.9-6.4,6.4-6.4s6.4,2.9,6.4,6.4C26.9,42.1,24,45,20.5,45z
  M20.5,36.5c-1.2,0-2.1,0.9-2.1,2.1c0,1.2,0.9,2.1,2.1,2.1c1.2,0,2.1-0.9,2.1-2.1C22.5,37.4,21.6,36.5,20.5,36.5z"/>
<path class="basket" fill="currentColor" d="M37.2,29.7H21c-3.4,0-6.4-2.3-7.3-5.6L9.3,6.9c-0.3-1-1.2-1.7-2.2-1.7H2.6C1.2,5.2,0,4,0,2.6
 S1.2,0,2.6,0h4.6c3.4,0,6.4,2.3,7.3,5.6l0.7,2.8h30.4c0.8,0,1.6,0.4,2.1,1c0.5,0.7,0.7,1.5,0.4,2.3l-3.7,12.6
 C43.5,27.5,40.5,29.7,37.2,29.7z M16.5,13.7l2.3,9.1c0.3,1,1.2,1.7,2.2,1.7h16.2c1,0,1.9-0.7,2.2-1.6l2.7-9.2
 C42.1,13.7,16.5,13.7,16.5,13.7z"/>
</svg>
  
