<form action="/pages/store-locator" method="GET" class="store-locator-form newsletter-form">
    <div class="field">
    <input class="field__input zip-field" type="text" id="zip" name="ZIP" placeholder="Email Address" aria-required="true" aria-label="Enter Zip Code" />
    <label class="field__label" for="zip">
        Zip Code
      </label>
    <button type="submit" class="button rainbow-button" name="submit" id="Find It" aria-label="Submit Form">Find It</button>
    </div>
</form>