<form action="/pages/store-locator" method="GET">
    <input class="field__input" type="text" name="ZIP" aria-label="Enter Zip Code" />
    <button type="submit" class="field__button" name="submit" id="Find It" aria-label="Submit Form">Find It</button>
</form>