{{ 'section-rainbow-text-banner.css' | asset_url | stylesheet_tag }}

{%- for block in section.blocks -%}
{%- if block.settings.product_name == product.handle -%}

<div class="inner">
<h2 class="fade-in-left">{{ section.settings.text }}</h2> 
</div><!--End inner-->

<div class="bg-img bg-hero">
  
    {%- assign hero_image = block.settings.hero_image -%}
    {%- if hero_image != blank -%}
    {{ hero_image | image_url: width: hero_image.width | image_tag: class: 'bg bg-parallax', loading: 'lazy' }}
    {%- endif -%}
</div>

{% ## ----- Clouds ------ -## %}  
<div class="clouds clouds-wide bottom scrubme">
    <div class="scroll-parent">
      <div class="scroll-element scrub" style="background-image:url({{ 'cloud-wide-reversed.svg' | asset_url }});">
      </div>
  </div>
  {% ## ----- End Clouds ------ -## %}

{%- endif -%}
{%- endfor -%}




{% schema %}
  {
  "name": "Hero Image Banner",
  "class": "rainbow-banner hero-banner fade-in",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add"
    }    
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "product_item",
      "settings": [
        {
          "type": "product",
          "id": "product_name",
          "label": "Product",
          "info": "Choose a product to add a banner to."
        },
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Hero Image",
          "info": "Upload a large background image for this section"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Image Banner"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}