{{ 'section-destini.css' | asset_url | stylesheet_tag }}


<section class="destini-inner">
  <div class="destini-intro">
    <img class="cloud cloud-rainbow cloud-footer" src="{{ 'cloud-rainbow.svg' | asset_url }}" width="808" height="328" role="presentation" alt="colorful cloud" />
    <h1 class="">Where to buy</h1>
    {{ section.settings.destini_intro_text }}
  </div><!--End destini-intro-->
  <div class="storeDiv"><script src="//destinilocators.com/richardsrainwater/site/install/?MM=panel2"></script></div>

  <a class="jump-to-aisle scrollme" href="#aisle">
    <span>Click Here for a <span>Free</span> Drink</span>
    <svg version="1.1" id="cloud-round" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 371.7 226.7" enable-background="new 0 0 371.7 226.7" xml:space="preserve">
    <g transform="matrix(1, 0, 0, 1, 0, 0)">
      <path id="Path_2636-2" fill="#FFFFFF" d="M371.2,125.9c4.2-31.5-18.8-59.8-51.3-63.3c-2.9-0.3-5.9-0.4-8.9-0.3
        c-7.3-32.4-35.1-58-71.3-61.8c-27.3-2.9-54.4,7.3-73,27.5c-9.4-6.3-20.1-10.2-31.4-11.3C109,13.9,83.3,26,68.6,48
        c-34.7,2.2-63.8,26.1-68.1,58c-4.8,36.2,24.2,68.9,64.7,73.2c1.9,0.2,3.7,0.3,5.5,0.4c11.5,25,35.9,43.4,66.1,46.6
        c27.3,2.9,54.4-7.3,73-27.5c9.4,6.3,20.1,10.2,31.4,11.3c30.8,3.2,59.5-13.8,71.7-40c1.2,0.2,2.4,0.4,3.6,0.5
        c26.6,2.8,51-15.8,54.4-41.7c0.1-0.4,0.1-0.9,0.1-1.3C371,127,371.1,126.5,371.2,125.9"/>
    </g>
    </svg>
  </a>
  <div class="overlay"></div>
</section>



{% schema %}
  {
  "name": "Destini Integration",
  "class": "destini",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Adds the Destini Store/Product Locator to this page"
    },
    {
      "type": "richtext",
      "id": "destini_intro_text",
      "label": "Destini Intro Text",
      "info": "Add content that will appear before the Destini widget."
    }
  ],
  "presets": [
    {
      "name": "Destini Integration"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}