{{ 'section-destini.css' | asset_url | stylesheet_tag }}


<section class="destini-inner">
  <div class="destini-intro">
    <img class="cloud cloud-rainbow cloud-footer fade-in-left" src="{{ 'cloud-rainbow.svg' | asset_url }}" width="808" height="328" role="presentation" alt="colorful cloud" />
    <h1>Where to buy</h1>
    {{ section.settings.destini_intro_text }}
  </div><!--End destini-intro-->
  <div class="storeDiv"><script src="//destinilocators.com/richardsrainwater/site/install/?MM=panel2"></script></div>
</section>



{% schema %}
  {
  "name": "Destini Integration",
  "class": "destini",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Adds the Destini Store/Product Locator to this page"
    },
    {
      "type": "richtext",
      "id": "destini_intro_text",
      "label": "Destini Intro Text",
      "info": "Add content that will appear before the Destini widget."
    }
  ],
  "presets": [
    {
      "name": "Destini Integration"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}