{{ 'section-icon-grid.css' | asset_url | stylesheet_tag }}

<div class="inner">
  <div class="icon-grid">
  {%- for block in section.blocks -%}
    {%- case block.type -%}

      {%- when 'icon_item' -%}
        <div class="icon-item fade-in-up">
        {%- assign icon = block.settings.icon -%}
        {%- if icon != blank %}
        {{ icon | image_url: width: icon.width | image_tag: class: 'icon-image', loading: 'lazy' }}
        {%- endif -%}

        {%- if block.settings.label != blank -%}
        <p>{{ block.settings.label }}</p>
        {%- endif -%}
        </div><!--End icon-item-->

    {%- endcase -%}
  {%- endfor -%}
  </div><!--End icon-grid-->
</div><!-- End inner-->
{% schema %}
  {
  "name": "Icon Grid",
  "class": "section-icon-grid",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add a grid of icons with labels to a page"
    }
  ],
  "blocks": [
    {
      "name": "Icon Item",
      "type": "icon_item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon",
          "info": "Upload an icon (PNG, GIF, or JPEG format)"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "info": "Add a label for this icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon Grid"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}