{{ 'section-logo-slider.css' | asset_url | stylesheet_tag }}
{{ 'section-locator-w-slider.css' | asset_url | stylesheet_tag }}


    <div class="locator-slider-wrap on-{{ product.id }}">

          


    {% render 'global-metafields-retail-logos' %}

    </div><!--End locator-slider-wrap-->



{% schema %}
  {
  "name": "Logo Slider (Basic)",
  "class": "section-locator-w-slider",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add a Store Locator form, with the retail logos slider to this page. Note: All retail logos are added and edited via Shopify meta fields so they can be accessed globally."
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Find Richard’s near you.",
      "info": "Enter text for the heading here"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Logo Slider (Basic)"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}