
<div class="wrapper">
    <h2 class="section-title w-subtitle faq-title">{{ section.settings.title }}</h2>

    <div class="toggle-list faq-list">
    {%- for block in section.blocks -%}
    {%- case block.type -%}

        {%- when 'questionanswer' -%}
        

        <div class="toggle-view">
            <div class="toggle-header" role="button" tabindex="0"><h3>{{ block.settings.question }} </h3></div>
            <div class="panel">
                {{ block.settings.answer }}
            </div>
        </div><!--End toggle-view-->

    {%- endcase -%}
    {%- endfor -%}
    </div><!--End toggle-list-->

</div><!--End wrapper-->

{% schema %}
  {
  "name": "Product FAQs",
  "class": "product-faqs",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Frequently Asked Questions",
      "info": "Add a title for the section"
    }
  ],
  "blocks": [
    {
      "name": "Question/Answer",
      "type": "questionanswer",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "placeholder": "Enter question",
          "info": "Add a question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "info": "Add an answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product FAQs"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}