{{ 'section-testimonial.css' | asset_url | stylesheet_tag }}

<div class="inner">
  <div class="testimonial">
    <blockquote class="fade-in">
      {{ section.settings.quote_text }} 
    </blockquote>
  </div><!--End testimonial-->
</div>


{% schema %}
  {
  "name": "Pullquote",
  "class": "pullquote quote-lg",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "quote_text",
      "label": "Quote Text",
      "info": "Add text for a large pullquote section"
    }
  ],
  "presets": [
    {
      "name": "Pullquote"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}