
<div class="inner narrow">
{%- for block in section.blocks -%}
  {%- case block.type -%}

    {%- when 'text' -%}
      {%- ########################################################################## 
      # Label: Text
      # Returns: a string or an empty object(if nothing has been entered)
      # Filters: https://shopify.dev/api/liquid/objects#string 
      ########################################################################## -%}
      {{ block.settings.text }} 

  {%- endcase -%}
{%- endfor -%}
</div><!--End inner-->

{% schema %}
  {
  "name": "Narrow Text Section",
  "class": "narrow-text-section",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add content to a narrow, straight column of text"
    }
  ],
  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Add text content to this section"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Section"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}