
.shopify-section-group-footer-group {
  z-index:1;
  position:relative;
}
section.newsletter-cloud {
  z-index:4;
}
.footer {

    background:$dark_blue;
    color:#ffffff;
    padding:68px 0px 32px 0px;

    @include breakpoint(tablet){
      padding:87px 0px 54px 0px;
    }

    .footer-top {
      display:flex;
      flex-wrap:wrap;
      align-items:flex-start;
      align-content:flex-start;
      justify-content: space-between;
      width:100%;

      .footer-top-left {
        width:60%;

        @include breakpoint(tablet) {
          width:auto;
        }
      }
      .footer-top-right {
        width:30%;

        @include breakpoint(tablet) {
          width:auto;
        }
      }

      h2.footer-messaging {
        text-transform:uppercase;
        font-weight:900;
        margin-top:0px;
        font-size:27px;
        line-height:1.3em;
        letter-spacing:1px;
        white-space: nowrap;

        span {
          display:block;
        }

        @include breakpoint(tablet) {
          font-size:36px;
        }
      }
      

      ul.footer-menu {
        margin:0px;
        list-style:none;
        padding:0px 0px 0px 30px;

        @include breakpoint(tablet) {
          padding:0px 0px 0px 30px;
        }

        li {
          display:block;
          list-style:none;
          line-height:1.25em;
          margin-bottom:1.1em;
          a {
            color:#ffffff;
            font-weight:900;
            font-size:13px;
            line-height:1em;
            text-decoration:none;
            position:relative;

            @include breakpoint(tablet) {
              font-size:22px;
            }

            background-image: linear-gradient(
              to right,
              $light_blue,
              $light_blue 50%,
              $white 50%
            );
            background-size: 200% 100%;
            background-position: -100%;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.2s 0s ease-in-out;

            &:hover {
              background-position:0;
            }

          }

          @include breakpoint(tablet) {
            margin-bottom:28px;
          }
        }
      }

    }
    .footer-bottom {
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      width:100%;
      border-top:1px solid $light_blue;
      padding:34px 0px 0px 0px;
      margin-top:34px;

      @include breakpoint(tablet) {
        padding-top:42px;
        margin-top:42px;
        justify-content:space-between;
      }
    }

    .footer-logo {
      display:block;
      width:250px;
      color:$white;

      svg {
        width:100%;
        pointer-events: none;
      }

      @include breakpoint(tablet) {
        width:230px;
      }
    }
}

  
.terms-policies {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;

  @include breakpoint(tablet) {
    justify-content: flex-end;
  }

  a {
    color:$white;
    text-decoration:none;

    &:hover {
      text-decoration:underline;
    }
  }

  p {
    display:inline-block;
    text-align:center;
    width:100%;
    margin:0px;
    font-size:11px;
    color:$white;
    line-height:1em;
    order:2;

    @include breakpoint(tablet) {
      text-align:left;
      width:auto;
      order:1;
    }
  }
  ul {
    display:inline-flex;
    margin:20px 0px;
    flex-wrap:wrap;
    justify-content:center;

    @include breakpoint(tablet) {
      flex-wrap:nowrap;
      justify-content:flex-start;
      margin:0px 20px 0px 0px;
    }

    li {
      margin:6px 10px;
      display:inline-block;
      font-size:11px;
      line-height:1em;

      @include breakpoint(tablet) {
        margin:0px 0px 0px 22px;
      }

      a {
        color:currentColor;
      }
    }
  }
}

// --------- Social List
  
.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: .7rem;
  border-radius:50%;
  color: $dark_blue;
  aspect-ratio:1 / 1;
  margin:0px 4px;
  transition:all .3s $easeInOutBack 0s;

  

  @include breakpoint(tablet) {
    margin:0px 8px 0px 0px;
    padding: 1.3rem;
  }
  
  &.facebook {
      background:$red;
  }
  &.instagram {
      background:$pink;
  }
  &.twitter {
      background:$light_blue;
  }
  &.tiktok {
      background:$orange;
  }

}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

.bit-sticker {
  position:absolute;
  right:40px;
  top:0px;
  margin-top:-38px;
  z-index:2;
  pointer-events:none;
  width:76px;
  height:auto;
  display:block;

  svg {
    width:100%;
    height:auto;
    display:block;

    #top-letters {
      path, rect {
        fill: $dark_blue;
      }
    }
  }

  @include breakpoint(laptop) {
    width:82px;
    margin-top:-46px;
  }

  @include breakpoint(laptop) {
    width:104px;
    right:4vw;
    margin-top:40px;

    svg {
      #top-letters {
        path, rect {
          fill: $white;
        }
      }
    }
    
  }
}
 
  