
  /* --------- Mobile Menu Toggle ------- */

#menu-toggle {
    width: 30px;
    height: 30px;
    margin: 0px;
    z-index: 50;
    position: relative;
    display: block;
    border: 0px;
    background: transparent;
    -webkit-appearance: none;
    appearance:none;
    padding: 0px;
    cursor: pointer;

    @include breakpoint(shopify) {
        display: none;
    }

    .icon-hamburger {
        display:block;
    }
    .icon-close {
        display:none;
    }

    &.open {
        .icon-hamburger {
            display:none;
        }
        .icon-close {
            display:block;
        }
    }
}

/* ----- General Header Icons ------ */


/* Header icons */
.header__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
    position:relative;
    z-index: 5;
  }
  
  .header__icons .shopify-app-block {
    max-width: 4.4rem;
    max-height: 4.4rem;
    overflow: hidden;
  }
  
  .header__icon:not(.header__icon--summary),
  .header__icon span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__icon {
    color: rgb(var(--color-foreground));
  }
  
  .header__icon span {
    height: 100%;
    position:relative;
    z-index:5;
  }
  
  .header__icon::after {
    content: none;
  }
  
  .header__icon:hover .icon,
  .modal__close-button:hover .icon {
    transform: scale(1);
  }
  
  .header__icon .icon {
    height: 30px;
    width: 30px;
    fill: none;
    vertical-align: middle;
  
    &.icon-hamburger {
      fill:currentColor;
      width:25px;
      height:21px;
    }
  
    &.icon-close {
      fill:currentColor;
      width:17px;
      height:17px;
    }
  }
  
  .header__icon,
  .header__icon--cart .icon {
    width: 25px;
    height: 23px;
    padding: 0;
  
    @include breakpoint(tablet) {
      width: 38px;
      height:34px;
    }
  }
  .header__icon {
    &.link {
      //margin-left:12px;
  
      @include breakpoint(tablet) {
        margin-left:24px;
      }
    }
  }
  
  .header__icon--cart {
    position: relative;
  }
  
  .header__icon--menu[aria-expanded="true"]::before {
    content: "";
    top: 100%;
    left: 0;
    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
    width: 100%;
    display: block;
    position: absolute;
    background: rgba(var(--color-foreground), 0.5);
  }

/* ------ General Section Header -------- */
.section-header {
    padding:0px;
    width:100%;
  
    .site-header {
      padding:20px 28px 20px 28px;
      height:auto;
      position: fixed;
      display:flex;
      left: 0;
      top:30px;
      width: 100vw;
      z-index: 7;
      transition: all 0.25s ease;
  
      &:not(.home-header) {
        background-color:$white;
      }
      @include breakpoint(tablet) {
        padding:22px 36px;
        top:40px;
  
      }
      @include breakpoint(laptop) {
        padding:22px 58px;
      }
  
      // On the Home page, do things
      &.home-header {
        color:$white;
  
        .header__heading, 
        .header__heading-link {
          color:$white;
        }
  
        .header__menu-item {
          color:$white;
          background-image: linear-gradient(
            to right,
            $dark_blue,
            $dark_blue 50%,
            $white 50%
          );
        }
  
        .header__icon.link {
          color:$white;
        }

      
  
      }
    
      // When Scrolling, do things
      &.scrolling {
        position:fixed;
        top:0px;
        background:$white;
        color:$dark_blue;
  
        .header__heading, 
        .header__heading-link {
          color:$dark_blue;
        }
  
        .header__menu-item {
          color:$dark_blue;
          background-image: linear-gradient(
            to right,
            $light_blue,
            $light_blue 50%,
            $darkest_blue 50%
          );
        }
        .header__icon.link {
          color:$dark_blue;
        }
  
      }

      &.open {
        position:fixed;
        top:0px;
        background:transparent;
        color:$white !important;
  
        .header__heading, 
        .header__heading-link {
          color:$white;
        }
  
        .header__menu-item {
          color:$white;
          background-image: linear-gradient(
            to right,
            $light_blue,
            $light_blue 50%,
            $darkest_blue 50%
          );
        }
        .header__icon.link {
          color:$white;
        }
  
      }
    }
  
    
  }
  
    .header-inner {
      order:1;
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      align-content:center;
      justify-content:space-between;
      height:auto;
      padding:0px;
      width:100%;
      position:relative;
      z-index:1000;
      transition:background-color .3s ease 0s;
  
      @include breakpoint(tablet) {
      }
      @include breakpoint(laptop) {
          height:auto;
          
      }
      
  }
    #nav-wrapper {
      position:fixed;
      order:2;
      top:0px;
      left:0px;
      width:100vw;
      height:100vh;
      opacity:1;	
      pointer-events:none;
      padding-top:15vh;
        z-index:5;
      overflow-y:scroll;
      transform:translateY(-100%);
      -webkit-overflow-scrolling: touch;
      background-color:$medium_blue;
  
      display:flex;
      flex-wrap:wrap;
      align-items:stretch;
      align-content:stretch;
  
      transition:all .6s ease 0s;
      
      
      &.open {
        pointer-events:auto;
          opacity:1;
          height:100vh;
          transform:translateY(0%);
          transition-delay:0s;
          background-color:$dark_blue;
  
          form.search-form {
              opacity:1;
              transition:opacity .5s ease .25s;
              
          }
          
      }
    }