
// Scss Document

// Slick.js
//https://kenwheeler.github.io/slick/

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  .slick-list {
    position: relative;
    overflow:visible;
    display: block;
    margin: 0;
    padding: 0;
  
    &:focus {
        outline: none;
    }
  
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
  
    &:before,
    &:after {
        content: "";
        display: table;
    }
  
    &:after {
        clear: both;
    }
  
    .slick-loading & {
        visibility: hidden;
    }
  }
  .blog-list-slider {
    .slick-track {
        align-items:flex-start;
    }
  }
  .slick-slide {
    float: none;
    height: auto;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        height:100%;
    }
    &.slick-loading img {
        display: none;
    }
  
    display: none;
  
    &.dragging img {
        pointer-events: none;
    }
  
    .slick-initialized & {
        display: block;
        &.blog-list-item {
            display:flex;
            text-align:left;
        }
    }
  
    .slick-loading & {
        visibility: hidden;
    }
  
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    
    
  }
  .slick-arrow.slick-hidden {
    display: none;
  }
  
  
  
  // Slick Theme Code 
  
  
  
  /* Slider */
  
  .slick-list {
    .slick-loading & {
        //background: #fff ("ajax-loader.gif") center center no-repeat;
    }
  }
  
  
  
  /* Arrows */
  
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height:10px;
    width: 54px;
    min-width: 0px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    z-index:10;
    bottom:-40px;
    left:50%;
    padding: 0;
    border: none;
    outline: none;
    background: url("arrow-right-white.svg") right center no-repeat;
    background-size:cover;
    transition:opacity .3s ease 0s;
    
    &.slick-disabled {
        opacity:.5;
    }
    
    &:hover {
      background: url("arrow-right-white.svg") right center no-repeat;
        background-size:cover;
        border:0px;
    }
    &:focus, &:active {
       background: url("arrow-right-white.svg") right center no-repeat;
        background-size:cover;
       
    }
  }
  .gallery-slider {
    
    .slick-track {
        align-items:flex-start;
    }
    
    .gallery-slide {
        
        width:auto;
        padding-right:18px;
        height:auto;    
        position:relative;
        
        opacity:.3;
        transition:opacity .5s $easeInOutSine 0s;
        
        &.slick-active {
            opacity:1;
        }
        
        @include breakpoint(tablet) {
            //width:36vw;
            padding-right:32px;
        }
        
    }
    
    p.gallery-caption {
        
        margin:8px 0px 0px 0px;
        font-size:12px;
        
        opacity:0;
        transition:all .5s ease 0s;
        max-width:90%;
        display:inline-block;
        position:absolute;
        top:100%;
        left:0px;
        
        @include breakpoint(tablet) {
            margin:14px 0px 0px 0px;
            font-size:14px;
        }
        @include breakpoint(tabletwide) {
            font-size:14px;
            margin:15px 0px 0px 0px;
        }
    }
    .slick-active {
        p.gallery-caption {
            opacity:1;
        }
    }
    .gallery-img {
        width:100%;
        display:block;
        
        height:200px;
        max-height:75%;
        
        img {
            height:100%;
            width:auto;
        }
        
        @include breakpoint(tablet) {
            height:484px;
        }
        
        
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        height:43px;
        width: 43px;
        min-width: 0px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        z-index:10;
        top:-53px; 
        left:auto;
        right:88px;
        padding: 0;
        border: none;
        outline: none;
        background: url("arrow-right.svg") right center no-repeat;
        background-size:cover;
        transition:scale .3s ease 0s;
        
  
        &.slick-disabled {
            opacity:.5;
        }
  
        &:hover {
            background: url("arrow-right.svg") right center no-repeat;
            background-size:cover;
            border:0px;
        }
  
        &:focus, &:active {
           background: url("arrow-right.svg") right center no-repeat;
            background-size:cover;
  
        }
        
        @include breakpoint(tablet) {
            width:43px;
            height:43px;
            top:-70px;
            left:auto;
            right:88px; 
        }
        
        @include breakpoint(tabletwide) {
            width:50vw;
            height:100%;
            top:0px;
            background:none !important;
            cursor: url("arrow-right.svg") 21.5 21.5, pointer;
        }
    }
    
    .slick-prev {
        right:140px;
        
        @include breakpoint(tablet) {
            right:160px;
        }
        @include breakpoint(tabletwide) {
            left:0px;
            right:auto;
            cursor: url("arrow-left.svg") 21.5 21.5, pointer;
        }
    }
    .slick-next {
        @include breakpoint(tabletwide) {
            right:0px;
        }
    }
  }
  #blog-list-slider {
  
    &.slick-slider {
        width:calc(100vw - 28px);
        margin-left:28px !important;
        overflow:visible;
        
        @include breakpoint(tablet) {
            
            width:91vw;
            margin-left:9vw !important;
        }
    }
  
    li.blog-list-item {
        margin-right:22px;
        width:79vw;
  
        @include breakpoint(tablet) {
            margin-right:52px;
            width:515px;
        }
    }
    
    .slick-prev,
    .slick-next {
        background: url("arrow-right.svg") right center no-repeat;
        background-size:cover;
        height:40px;
        width: 40px;
        top:auto;
        bottom:0px;
        display:inline-block;
        
        
    }
    
    .slick-prev {
        left:auto;
        right:88px;
        margin: 0px;
        transform:rotate(-180deg) !important;
    }
  
    .slick-next {
        left: auto;
        margin: 0px 0px 0px 0px;
        right:30px;
    }
    
    @include breakpoint(tablet) {
        
        .slick-prev,
        .slick-next {
            top:0px;
            bottom:auto;
        }
         .slick-prev {
           left:0px;
           right:auto;
            transform:translateY(-200%) rotate(-180deg) !important;
        }
        .slick-next {
            left:58px;
            right:auto;
            transform:translateY(-200%) !important;
        }
        
    }
    
    
  }
  
  
  #staff-list-slider {
  
    &.slick-slider {
        width:100%;
        margin-left:0px;
        overflow:visible;
        align-items:flex-start;
        
       
    }
  
    .slick-track {
        align-items:flex-start;
    }
    
    .slick-prev,
    .slick-next {
        background: url("arrow-right.svg") right center no-repeat;
        background-size:cover;
        height:40px;
        width: 40px;
        top:auto;
        bottom:0px;
        display:inline-block;
        
        
    }
    
    .slick-prev {
        left:auto;
        right:88px;
        margin: 0px;
        transform:rotate(-180deg) !important;
    }
  
    .slick-next {
        left: auto;
        margin: 0px 0px 0px 0px;
        right:30px;
    }
    
    @include breakpoint(tablet) {
        
        .slick-prev,
        .slick-next {
            top:0px;
            bottom:auto;
        }
         .slick-prev {
           left:0px;
           right:auto;
            transform:translateY(-200%) rotate(-180deg) !important;
        }
        .slick-next {
            left:58px;
            right:auto;
            transform:translateY(-200%) !important;
        }
        
    }
    
    
  }
  #testimonials-slider {
    
    .slick-prev,
    .slick-next
    {
        height:10px;
        width: 54px;
        background-image: url("arrow-right-blue.svg");
        background-size:cover;
        bottom:0px;
    }
    .slick-prev {
       left:50%;
        right:auto;
        margin:0px 0px 0px -60px;
    }
    
    .slick-next {
        left:auto;
        margin:0px -60px 0px 0px;
        right:50%;
    }
    @include breakpoint(tablet) {
        .slick-prev {
           left:56px;
            right:auto;
            margin:0px;
        }
  
        .slick-next {
            left:auto;
            margin:0px;
            right:56px;
        }
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    
    &:focus, &:active {
          transform: rotate(180deg);
    }
  }
  
  
  /* Dots */
  
  .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }
  
  .slick-dots {
    position: absolute;
    top:0px;
    left:0px;
    list-style: none;
    display: inline-flex;
    align-items:center;
    flex-wrap:wrap;
    text-align: left;
    padding: 0;
    margin: 0;
    width: auto;
    li {
        position: relative;
        display: inline-block;
        height: 11px;
        width: 11px;
        margin: 0 10px 0px 0px;
        padding: 0;
        cursor: pointer;
  
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 11px;
            width: 11px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            background:transparent;
            border-radius:50%;
            border:1px solid $orange;
  
            &:hover, &:focus {
                outline: none;                    
            }
        }
  
  
        &.slick-active button {
            background:$orange;
        }
  
            
    }
  }
  