// --- SCSS Variables --- //

// --- Fonts and Typography -- //
$tt_commons: 'TT Commons';
$font_imperial_urw: 'Imperial URW', sans-serif;

// ---- Colors ----- //

$red: #DE0000;
$orange: #FFA500;
$pink: #FC4A6A;
$light_blue: #0094DA;
$medium_blue: #0040A8;
$dark_blue: #000F44;
$darkest_blue: #00142A;

.red {
    color: $red;
}
.orange {
    color:$orange;
}
.pink {
    color:$pink;
}
.light-blue {
    color:$light_blue;
}
.medium-blue {
    color:$medium_blue;
}
.dark-blue {
    color:$dark_blue;
}
.black,
.darkest-blue {
    color:$darkest_blue;
}
.white {
    color:#ffffff;
}


// ----- CSS Variables ---- //

:root {
    --font-body-family: 'TT Commons', sans-serif;
    --font-heading-family: 'TT Commons', sans-serif;
}