// --- SCSS Variables --- //

// --- Fonts and Typography -- //
$tt_commons: 'TT Commons';
$font_imperial_urw: 'Imperial URW', sans-serif;

// ---- Colors ----- //

$red: #E31C11;
$orange: #FFAD00;
$pink: #E74F6C;
$light_blue: #009AE1;
$medium_blue: #004894;
$dark_blue: #000F44;
$darkest_blue: #00142A;


// ----- CSS Variables ---- //

:root {
    --font-body-family: 'TT Commons', sans-serif;
}