// --- SCSS Variables --- //

// --- Fonts and Typography -- //
$tt_commons: 'TT Commons';

// ---- Colors ----- //

$dark_blue: #00142A;

// ----- CSS Variables ---- //

:root {
    --font-body-family: $tt_commons, sans-serif;
}