:root {
  --font-body-family: $tt_commons, sans-serif;
}

/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("webFonts/TTCommonsProMedium/font.woff2") format("woff2"), url("webFonts/TTCommonsProMedium/font.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("webFonts/TTCommonsProMediumItalic/font.woff2") format("woff2"), url("webFonts/TTCommonsProMediumItalic/font.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("webFonts/TTCommonsProDemiBold/font.woff2") format("woff2"), url("webFonts/TTCommonsProDemiBold/font.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("webFonts/TTCommonsProDemiBoldItalic/font.woff2") format("woff2"), url("webFonts/TTCommonsProDemiBoldItalic/font.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("webFonts/TTCommonsProBold/font.woff2") format("woff2"), url("webFonts/TTCommonsProBold/font.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("webFonts/TTCommonsProBoldItalic/font.woff2") format("woff2"), url("webFonts/TTCommonsProBoldItalic/font.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("webFonts/TTCommonsProBlack/font.woff2") format("woff2"), url("webFonts/TTCommonsProBlack/font.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("webFonts/TTCommonsProBlackItalic/font.woff2") format("woff2"), url("webFonts/TTCommonsProBlackItalic/font.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('webFonts/TTCommonsProThin/font.woff2') format('woff2'), url('webFonts/TTCommonsProThin/font.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('webFonts/TTCommonsProThinItalic/font.woff2') format('woff2'), url('webFonts/TTCommonsProThinItalic/font.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProExtraLight";
  src: url('webFonts/TTCommonsProExtraLight/font.woff2') format('woff2'), url('webFonts/TTCommonsProExtraLight/font.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraLightItalic";
  src: url('webFonts/TTCommonsProExtraLightItalic/font.woff2') format('woff2'), url('webFonts/TTCommonsProExtraLightItalic/font.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProLight";
  src: url('webFonts/TTCommonsProLight/font.woff2') format('woff2'), url('webFonts/TTCommonsProLight/font.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('webFonts/TTCommonsProLightItalic/font.woff2') format('woff2'), url('webFonts/TTCommonsProLightItalic/font.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('webFonts/TTCommonsProRegular/font.woff2') format('woff2'), url('webFonts/TTCommonsProRegular/font.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('webFonts/TTCommonsProItalic/font.woff2') format('woff2'), url('webFonts/TTCommonsProItalic/font.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('webFonts/TTCommonsProNormal/font.woff2') format('woff2'), url('webFonts/TTCommonsProNormal/font.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('webFonts/TTCommonsProNormalItalic/font.woff2') format('woff2'), url('webFonts/TTCommonsProNormalItalic/font.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProExtraBold";
  src: url('webFonts/TTCommonsProExtraBold/font.woff2') format('woff2'), url('webFonts/TTCommonsProExtraBold/font.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBoldItalic";
  src: url('webFonts/TTCommonsProExtraBoldItalic/font.woff2') format('woff2'), url('webFonts/TTCommonsProExtraBoldItalic/font.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('webFonts/TTCommonsProExtraBlack/font.woff2') format('woff2'), url('webFonts/TTCommonsProExtraBlack/font.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('webFonts/TTCommonsProExtraBlackItalic/font.woff2') format('woff2'), url('webFonts/TTCommonsProExtraBlackItalic/font.woff') format('woff');
}

*/
.footer-newsletter {
  display: flex;
  flex-wrap: wrap;
}
.footer-newsletter img {
  width: 50%;
}
.footer-newsletter .newsletter__wrapper {
  width: 50%;
  text-align: left;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }
}
.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}
.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}