.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProExtraLight";
  src: url('font_TTCommonsProExtraLight.woff2') format('woff2'), url('font_TTCommonsProExtraLight.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraLightItalic";
  src: url('font_TTCommonsProExtraLightItalic.woff2') format('woff2'), url('font_TTCommonsProExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
.newsletter__wrapper .field__input {
  padding: 2.5rem 25px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.newsletter__wrapper .field__input:focus, .newsletter__wrapper .field__input:active {
  padding: 2.5rem 25px;
}
@media (min-width: 768px) {
  .newsletter__wrapper .field__input {
    padding: 2.8rem 25px;
    font-size: 22.5px;
  }
  .newsletter__wrapper .field__input:focus, .newsletter__wrapper .field__input:active {
    padding: 2.8rem 25px;
  }
}
.newsletter__wrapper.mobile_nl_wrapper {
  text-align: center;
  padding: 69px 36px;
  background: #ffffff;
}
.newsletter__wrapper.mobile_nl_wrapper h2.newsletter-signup-heading {
  font-size: 35px;
  margin: 0px;
  color: #000F44;
  line-height: 1em;
}
.newsletter__wrapper.mobile_nl_wrapper .newsletter__subheading p {
  font-size: 20px;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}
.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 100%;
  margin: 0px 0px 34px 0px;
  text-align: center;
}
@media (min-width: 768px) {
  .newsletter__subheading {
    text-align: left;
    padding-left: 21px;
  }
}

.newsletter__subheading p {
  font-size: 17.25px;
  color: #000F44;
  font-weight: 600;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 100%;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
/* --- Set wrap --- */
.clouds-mobile-wrap {
  width: 100vw;
  height: 56px;
  overflow: hidden;
}
.clouds-mobile-wrap .scroll-parent {
  position: relative;
  width: 512px;
  height: 56px;
  overflow-x: hidden;
}
.clouds-mobile-wrap .scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 10s linear infinite;
}
.clouds-mobile-wrap .primary {
  animation: primary 10s linear infinite;
}
.clouds-mobile-wrap .secondary {
  animation: secondary 10s linear infinite;
}
@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}