.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
.section-timeline {
  display: block;
  width: 100vw;
  padding-top: 20px;
  background: #f4f4f4;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .section-timeline {
    padding-top: 40px;
  }
}
.section-timeline h2.timeline-heading {
  margin: 0px 0px 20px 0px;
  line-height: 1em;
  font-size: 35px;
  width: 80%;
}
@media (min-width: 768px) {
  .section-timeline h2.timeline-heading {
    font-size: 82px;
    width: 100%;
  }
}

#timeline-slider {
  padding: 0px;
  margin: 0px;
}

.timeline-scroller {
  position: relative;
}

.timeline-wrap {
  width: 100vw;
}
.timeline-wrap .timeline-slide {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 65vh;
  width: 100vw;
  position: relative;
  background: #f4f4f4;
}
@media (min-width: 768px) {
  .timeline-wrap .timeline-slide {
    align-items: center;
    height: 75vh;
    /* switch each */
  }
  .timeline-wrap .timeline-slide:nth-child(even) {
    justify-content: flex-start;
  }
}
.timeline-wrap .timeline-slide .timeline-block-content {
  background: #000F44;
  color: #ffffff;
  width: 236px;
  max-width: 70%;
  padding: 20px 7.6vw;
  margin-right: 10px;
  position: relative;
  z-index: 5;
}
@media (min-width: 768px) {
  .timeline-wrap .timeline-slide .timeline-block-content {
    width: 560px;
    height: 486px;
    padding: 6.9vw 5.7vw;
    margin-right: 10px;
  }
}
.timeline-wrap .timeline-slide .timeline-block-content h3 {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2em;
  margin: 0px 0px 1em 0px;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .timeline-wrap .timeline-slide .timeline-block-content h3 {
    font-size: 37px;
  }
}
.timeline-wrap .timeline-slide .timeline-block-content p {
  margin: 0px;
  font-size: 12px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .timeline-wrap .timeline-slide .timeline-block-content p {
    font-size: 21px;
  }
}
.timeline-wrap .bg-img {
  width: 93%;
}
.timeline-wrap .bg-img img {
  -o-object-position: 32% bottom;
     object-position: 32% bottom;
}
@media (min-width: 768px) {
  .timeline-wrap .bg-img {
    width: 95%;
  }
  .timeline-wrap .bg-img img {
    -o-object-position: center;
       object-position: center;
  }
}

nav.hor {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-content: stretch;
  background: #f4f4f4;
  pointer-events: none;
  transition: 0.3s ease 0s;
}
@media (min-width: 768px) {
  nav.hor {
    height: 15vh;
  }
}

nav.hor a {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 100%;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  color: #BFBFBF;
  font-weight: 900;
  line-height: 1em;
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: all 0.3s ease 0s;
  height: 100%;
  text-decoration: none;
  pointer-events: all;
  transition: all 0.3s ease 0s;
}
@media (min-width: 768px) {
  nav.hor a {
    font-size: 30px;
  }
}
nav.hor a:hover {
  color: #0040A8;
}
nav.hor a:hover .timeline-drop .icon-drop {
  fill: #0040A8;
}
nav.hor a.active:nth-child(1n) {
  color: #0040A8;
}
nav.hor a.active:nth-child(1n) .timeline-drop .icon-drop {
  fill: #0040A8;
}
nav.hor a.active:nth-child(2n) {
  color: #DE0000;
}
nav.hor a.active:nth-child(2n) .timeline-drop .icon-drop {
  fill: #DE0000;
}
nav.hor a.active:nth-child(3n) {
  color: #FFA500;
}
nav.hor a.active:nth-child(3n) .timeline-drop .icon-drop {
  fill: #FFA500;
}
nav.hor a span {
  margin: 0px auto 4px auto;
  line-height: 1em;
  width: 7px;
}
@media (min-width: 768px) {
  nav.hor a span {
    width: 22px;
    margin: 0px auto 10px auto;
  }
}