@import "variables";
@import "mixins";
@import "fonts";

.icon-grid {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-between;
    margin:56px 0px;

    @include breakpoint(tablet) {
        margin:84px 0px;
    }

    .inner {
        width:1100px;
    }

    .icon-item {

        width:33%;
        text-align:center;

        img {
            height:72px;
            width:auto;
            display:block;
            margin:0px auto;

            @include breakpoint(tablet) {
                height:86px;
            }
        }
        p {
            margin:24px 0px 0px 0px;
            font-weight:900;
            font-size:12px;
            line-height:1em;

            @include breakpoint(tablet) {
                font-size:30px;
            }
        }
    }
}

.product-desc-icons {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .product-desc {
        width:100%;

        h2 {
            margin:0px;
            font-size:22px;
            font-weight: 800;
            letter-spacing:1px;
            text-transform: uppercase;
            color: $medium_blue;
            text-align:center;
        }
        p {
            font-weight: 700;
            font-size:22px;
            text-align:center;
        }
    }
    .icon-grid {
        width:100%;
    }

    @include breakpoint(tablet) {
        .product-desc {
            width:46.5%;
            padding:20px 0px 20px 38px;

            h2 {
                text-align:left;
                font-size:21px;
            }
            p {
                text-align:left;
                font-size:16.5px;
            }
        }
        .icon-grid {
            width:39%;
            border-left:3px solid $dark_blue;
            padding:10px 40px;

            .icon-item {
                img {
                    height:56px;
                }
                p {
                    font-size:15px;
                    margin-top:14px;
                }
            }
        }
    }
}