@import "variables";
@import "mixins";
@import "fonts";

.locator-slider-wrap {
    background:#ebebeb;
    padding:40px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.section-locator-w-slider {
    width: 1312px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {

    }
}