@import "variables";
@import "mixins";
@import "fonts";

section.home-banner {
    display:flex;
    flex-wrap:wrap;
    position:relative;
    z-index:4;
    min-height:100vh;
    width:100vw;
    align-items:center;
    align-content:center;
    justify-content: center;
    overflow:hidden;
    padding-bottom:15vh;

    @include breakpoint(tablet) {
        padding-bottom:0px;
    }

    .home-banner-bar {
        display:flex;
        align-items:center;
        align-content:center;
        justify-content: center;
        position: absolute;
        bottom:0px;
        left:0px;
        width:100%;
        z-index:3;
        background:$dark_blue;
        padding:26px 20px;
        text-align:center;

        @include breakpoint(tablet) {
            padding:26px 20px;
        }

        p {
            color:$white;
            margin:0px;
            padding:0px;
            line-height:1em;
            font-size:23px;
            font-weight:800;
            letter-spacing:3px;
            text-transform: uppercase;

            sup {
                font-weight:200;
                vertical-align:top;
            }
            
            @include breakpoint(tablet) {
                font-size:26.25;
            }
        }
    }

    .home-banner-bottle {
        display:block;
        position:absolute;
        bottom:0px;
        width:auto;
        max-height:100%;
        z-index:2;

        transform:translateY(100%);
        transition:all 1s $easeOutBack 0s;

        &.onscreen {
        opacity:1;
        transform:translateY(11%);
        }

        @include breakpoint(tablet) {
            max-height:120%;
        }

        &.home-banner-bottle-left {
            left:5vw;
            transition-delay: .25s;
            max-height: 91%;

            @include breakpoint(tablet) {
                left:13vw;
                max-height: 100%;
            }
            @include breakpoint(desktop) {
                left:13vw;
                max-height: 100%;
            }
        }

        &.home-banner-bottle-right {
            right:0vw;
            max-height: 81%;

            @include breakpoint(tablet) {
                right:8vw;
                max-height: 91%;
            }
            @include breakpoint(desktop) {
                right:8vw;
                max-height: 91%;
            }
        }
    }

    h2.home-banner-slogan-letters {
        display:block;
        position:relative;
        z-index:4;
        font-weight:900;
        color:$dark_blue;
        line-height:1em;
        font-size:38vw;
        text-align:center;
        width:auto;
        margin:0px auto;

        @include breakpoint(tablet) {
            font-size:20vw;
        }
        @include breakpoint(tabletwide) {
            font-size:15vw;
        }

        @include breakpoint(laptop) {
            font-size:12vw;
        }

        div {
            width:100%;
            display:flex;
            justify-content:center;
            align-content: flex-start;
            align-items: flex-start;

            span {
                display:inline-block;
                line-height:.9em;
                opacity:0;
                scale:.5;
                //transform:translateY(-50%);
                //transition:transform .5s $easeInOutBack 0s;
                

                small {
                    display:block;
                    font-size:23%;
                    line-height:23%;
                }

                &:nth-child(2) {                    
                    transform:translate(0, 15%);
                }
            }
        }
    }

    
}
.home-audio-player {
    display:flex;
    flex-wrap:wrap;
    position:fixed;
    z-index:10;
    right:100%;
    bottom:15%;
    height:69px;
    width:108px;
    background:$white;
    border:1px solid #C8C8C8;
    border-radius:18px;
    padding:10px 32px 13px 29px;
    transform:translate(88px,0px);
    transition:all .3s ease 0s;

    @include breakpoint(tablet) {
        height:80px;
        width:228px;
        transform:translate(208px,0px);
        padding:23px 36px 23px 50px;
    }

    &.closed {
        transform:translate(30px, 0px);
        button#close-player {
            transform:rotate(45deg);
        }
    }

    p {
        color:#C8C8C8;
        font-weight:600;
        font-size:15px;
        line-height:1.2em;
        margin:0px;
        padding:0px 0px 0px 12px;
        display:none;
        flex-grow:1;
        width:86px;

        @include breakpoint(tablet) {
            display:block;
        }
    }

    button {
        -webkit-appearance:none;
        appearance:none;
        background:transparent;
        display:block;
        position:relative;
        border:0px;
        font-size:0px;
        

        &.play-audio {
            aspect-ratio: 49 / 46;
            width:38px;
            height:auto;

            @include breakpoint(tablet) {
                width:36.75px;
            }
        }

        

        img {
            display:block;
            position:absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            
        }

    }

    &.off {

        button {
            img.on {
                opacity:0;
            }
            img.off {
                opacity:1;
            }
        }
    }

    &.on {

        button {
            img.on {
                opacity:1;
            }
            img.off {
                opacity:0;
            }
        }
    }
    button#close-player {
        display:block; 
        width:13px;
        height:13px;
        position:absolute;
        z-index:4;
        top:10px;
        right:10px;
        cursor:pointer;

        @include breakpoint(tablet) {
            width:8px;
            height:8px;
        }
    
    }
}
#modal-form-overlay {
    position:fixed;
    z-index:9;
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    display: block;
    background:rgba(125,125,125,1);
    mix-blend-mode: multiply;
    pointer-events: none;
    opacity:0;
    font-size:0px;
    transition:all .3s ease 0s;

    &.open {
        pointer-events:auto;
        opacity:1;

        
    }
}
.modal-nl-form {
    display:none;
    position:fixed;
    right: -1vw;
    bottom:15vh;
    z-index:10;
    aspect-ratio: 876 / 360;
    width:315px;
    transform:translate(0,0);
    text-align:center;
    padding:2% 1% 0px 0px;
    filter:drop-shadow(3px 5px 2px rgba(0,0,0,.3));

    @include breakpoint(tablet) {
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        align-content:center;
    }

    h2 {
        position:relative;
        z-index:3;
        margin:0px;
        font-size:32px;
        padding:0px;
        line-height:1em;
        text-align:center;
        display:block;
        width:100%;
    }
    .newsletter__subheading {
        width:100%;
        margin:0px;
        height:0px;
        overflow:hidden;
        z-index:3;
        position:relative;
    }
    .newsletter-form-wrap {
        width:100%;
        height:0px;
        overflow:hidden;
        z-index:3;
        position:relative;
    }

    p {
        z-index:3;
        text-align:center;
        position:relative;
        width:100%;
        margin:0px;
    }
    form {
        z-index:3;
        position:relative;
        max-width:100%;
        margin:0px auto;
        width:456px;
    }
    img {
        position:absolute;
        z-index:2;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
    }

    &.open {
        .modal-nl-form-open {
            display:none;
        }
    }

    .newsletter-form__field-wrapper {
        .field__label {
            font-size:16px;
        }
        .field__input {
            top: calc(.5rem + var(--inputs-border-width));
            padding:1rem;
        }
        .newsletter-form__button {
            font-size:16px;
            letter-spacing:3px;
        }
    }

    // invisible open button
    .modal-nl-form-open {
        display:block;
        position:absolute;
        width:100%;
        height:100%;
        z-index:4;
        font-size:0px;
        cursor: pointer;
        
    }

    .close-modal {
        display:block;
        aspect-ratio: 1 / 1;
        background:url(icon-close-grey-alt.svg) center center no-repeat;
        background-size:cover;
        position:absolute;
        width:13px;
        height:13px;
        top:34%;
        right:25%;
        font-size:0px;
        z-index:4;
        transition:all .25s ease 0s;
        cursor:pointer;
    }
    
}