@import "variables";
@import "mixins";
@import "fonts";


.section-timeline {
    display:block;
    width:100%;
    min-height:80vh;
    padding:40px 0px;
    backround:#f4f4f4;
}

.timeline-scroller {
  position: relative;
}
.timeline-wrap {
    display:flex !important;
    flex-wrap:nowrap !important;
    position:relative;

    .section {

        display:flex !important;
        flex-shrink:0 !important;
        justify-content:flex-end !important;
        align-items:center !important;
        height:100vh;
        max-width:none !important;
        padding-right:50px;
        width:100vw;

        .timeline-block-content {
          background:$dark-blue;
          color:$white;
          width:400px;
          max-width:100%;
          padding:40px;

          h3 {
            color:$white;
          }

        }

        &.one {
          background:$light_blue;
        }
      }



}


nav.hor {
    position: fixed;
    bottom:0px;
    left: 0%;
    width:100%;
    display: flex;
    background:#f4f4f4
  }
  nav.hor div {
    flex-basis: 25%;
    width: 80px;
    text-align: center;
    height: 50px;
    font-size: 21px;
    line-height: 50px;
    cursor: pointer;
    color: #BFBFBF;
    font-weight: 900;;
    z-index: 10;
    user-select: none;
    background-color: #BFBFBF;
  }