.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
section.section-product-info-box-drops {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: stretch;
  padding: 60px 0px 0px 0px;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops {
    padding: 98px 0px 0px 0px;
  }
}
section.section-product-info-box-drops.w-clouds {
  padding: 10vw 0px 0px 0px;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops.w-clouds {
    padding: 15vw 0px 0px 0px;
  }
}
section.section-product-info-box-drops .clouds {
  z-index: 5;
}
section.section-product-info-box-drops header {
  width: 100%;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 4;
  margin: 0px 0px 40px 0px;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops header {
    margin: 0px 0px 50px 0px;
  }
}
section.section-product-info-box-drops header h2 {
  color: #ffffff;
  margin: 0px;
  font-size: 37px;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops header h2 {
    font-size: 75px;
  }
}
section.section-product-info-box-drops header p {
  color: #0094DA;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px auto;
  letter-spacing: 0.8px;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops header p {
    font-size: 18.75px;
  }
}
section.section-product-info-box-drops .product-info-col {
  width: 100%;
  text-align: center;
  background: #000F44;
  position: relative;
  z-index: 1;
  padding: 0px 50px 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops .product-info-col {
    padding: 0px 4vw 60px 4vw;
  }
}
section.section-product-info-box-drops .product-info-col::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: inherit;
  z-index: 1;
}
section.section-product-info-box-drops .product-info-col .button {
  padding: 0px 6em;
  letter-spacing: 2px;
}
section.section-product-info-box-drops .product-info-col .produt-col-img {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
section.section-product-info-box-drops .product-info-col .produt-col-img img {
  max-width: 41%;
  width: auto;
  height: auto;
}
section.section-product-info-box-drops .product-info-col .produt-col-img.single {
  width: 37%;
}
section.section-product-info-box-drops .product-info-col .produt-col-img.single img {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops .product-info-col .produt-col-img.single {
    width: 22%;
  }
}
@media (min-width: 768px) {
  section.section-product-info-box-drops .product-info-col {
    width: 50%;
  }
  section.section-product-info-box-drops .product-info-col.single {
    width: 100%;
  }
}
section.section-product-info-box-drops .product-info-col h2 {
  color: #ffffff;
  font-size: 50px;
  line-height: 1em;
  margin: 38px auto 38px auto;
}
section.section-product-info-box-drops .product-info-col h2 span {
  font-size: 39px;
  font-weight: normal;
  display: block;
  line-height: 0.8em;
}
section.section-product-info-box-drops .product-info-col h2 span.rainwater {
  font-size: 45px;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops .product-info-col h2 span {
    font-size: 106px;
  }
  section.section-product-info-box-drops .product-info-col h2 span.rainwater {
    font-size: 8.5vw;
  }
}
@media (min-width: 1680px) {
  section.section-product-info-box-drops .product-info-col h2 span {
    font-size: 106px;
  }
  section.section-product-info-box-drops .product-info-col h2 span.rainwater {
    font-size: 122px;
  }
}
section.section-product-info-box-drops .product-info-col.product-info-col-1 {
  background: #000F44;
}
section.section-product-info-box-drops .product-info-col.product-info-col-2 {
  background: #0040A8;
}
section.section-product-info-box-drops .info-drop {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
  position: absolute;
  transform: scale(0.8);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  cursor: pointer;
  z-index: 10;
}
section.section-product-info-box-drops .info-drop.info-drop-1 {
  left: 13%;
  top: 6.7%;
}
section.section-product-info-box-drops .info-drop.info-drop-2 {
  right: 13.8%;
  top: 30%;
}
section.section-product-info-box-drops .info-drop.info-drop-3 {
  left: 9.2%;
  top: 50%;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops .info-drop {
    width: 120px;
  }
}
section.section-product-info-box-drops .info-drop a.drop-clickme {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
section.section-product-info-box-drops .info-drop a.drop-clickme svg {
  width: 40%;
  display: block;
}
@media (min-width: 768px) {
  section.section-product-info-box-drops .info-drop a.drop-clickme svg {
    width: 50%;
  }
}
section.section-product-info-box-drops .info-drop p {
  color: #ffffff;
  text-align: center;
  margin: 8px 0px 0px 0px;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  opacity: 0;
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  transform: translateY(-5px);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
section.section-product-info-box-drops .info-drop.open {
  transform: scale(1);
}
section.section-product-info-box-drops .info-drop.open p {
  transform: translateY(0px);
  opacity: 1;
}

/* End */