@import "variables";
@import "mixins";
@import "fonts";


ul.model-blocks{
    margin:0px;
    padding:0px;
    display:flex;
    flex-wrap:wrap;
    width:100%;

    li {
        display:flex;
        width:100%;
        flex-wrap:wrap;
        justify-content:space-between;

        img {
            width:100%;
            height:auto;

            @include breakpoint(tablet) {
                width:50%;
            }
        }

        .model-block-content {
            width:100%;

            @include breakpoint(tablet) {
                width:50%;
            }

            h3 {
                font-size:45px;
                font-weight:900;
                margin:0px 0px .8em 0px;
            }
            p {
                font-size:30px;
            }
        }

        &:nth-child(even) {
            @include breakpoint(tablet) {
                img {
                    order:2;
                }
                .model-block-content {
                    order:1;
                }
            }
        }
    }
}