.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue,
.light_blue {
  color: #0094DA;
}

.medium-blue,
.medium_blue {
  color: #0040A8;
}

.dark-blue,
.dark_blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
.home-audio-player {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 10;
  left: 0px;
  bottom: 15%;
  height: 69px;
  width: 108px;
  background: #ffffff;
  border: 1px solid #C8C8C8;
  border-radius: 18px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 10px 32px 13px 29px;
  transform: translate(-77px, 0px);
  transition: all 0.3s ease 0s;
}
@media (min-width: 768px) {
  .home-audio-player {
    height: 80px;
    width: 228px;
    padding: 23px 36px 23px 36px;
    transform: translate(-77px, 0px);
  }
}
.home-audio-player.open {
  transform: translate(0px, 0px);
}
.home-audio-player.open button#close-player {
  transform: rotate(0deg);
}
.home-audio-player p {
  color: #C8C8C8;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2em;
  margin: 0px;
  padding: 0px 0px 0px 12px;
  display: none;
  flex-grow: 1;
  width: 86px;
}
@media (min-width: 768px) {
  .home-audio-player p {
    display: block;
  }
}
.home-audio-player button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  display: block;
  position: relative;
  border: 0px;
  font-size: 0px;
}
.home-audio-player button.play-audio {
  aspect-ratio: 49/46;
  width: 38px;
  height: auto;
}
@media (min-width: 768px) {
  .home-audio-player button.play-audio {
    width: 36.75px;
  }
}
.home-audio-player button img {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.home-audio-player.off button img.on {
  opacity: 0;
}
.home-audio-player.off button img.off {
  opacity: 1;
}
.home-audio-player.on button img.on {
  opacity: 1;
}
.home-audio-player.on button img.off {
  opacity: 0;
}
.home-audio-player.dark {
  background: #000F44;
  border: 1px solid #000F44;
}
.home-audio-player.dark p {
  color: #0040A8;
}
.home-audio-player.dark button img.off,
.home-audio-player.dark button img.close-x {
  filter: contrast(0) sepia(100%) hue-rotate(162deg) brightness(0.34) saturate(10);
}
.home-audio-player button#close-player {
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transform: rotate(0deg);
}
@media (min-width: 768px) {
  .home-audio-player button#close-player {
    width: 8px;
    height: 8px;
  }
}