@import "variables";
@import "mixins";
@import "fonts";


form.form-contact-form {

  .terms {
    margin:50px auto;

    @include breakpoint(laptop) {
      margin:80px auto;
    }
  }

  .field {
    flex-wrap:wrap;

    span.sub {
      display:block;
      line-height:1em;
      font-weight:400;
      margin-top:6px;
    }

    span.required {
      color:$red;
    }

    &::after {
        box-shadow:none !important;
        border-radius:0px;  
        display: none;
    }

    .field__input {
      order:2;
      width:100%;
      box-shadow:none !important;
      border-bottom:1.5px solid $dark_blue;
      border-radius:0px;
  
      &:active,
      &:focus {
        border-bottom:1.5px solid $light_blue;
      }
    }
    .label {
      width: 100%;
      position:relative;
      order:1;
      color:$dark_blue;
      font-weight:900;
      font-size:16px;
      line-height:1.2em;

      @include breakpoint(desktop) {
        font-size:19.5px;
      }

      
    }

    .contact__field-error {
      width:100%;
      order:3;
    }

    &.under {

      .field__input {
        order:1;
      }
      .label {
        order:2;
        margin:12px 0px 20px 0px;
        font-size:15px;
        color:#dbdbdb;
        font-weight:500;
      }
    }
  }
 
}
.contact__fields + .contact__fields,
.contact__fields + .field,
.full + .full,
.field + .contact__fields
{
  margin-top:44px;

  @include breakpoint(laptop) {
    margin-top:50px;
  }
}
.form_section { //address
  margin:20px 0px;

  @include breakpoint(laptop) {
    margin:80px 0px;
  }
}
.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
  display:flex;
  justify-content: flex-end;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

section.section-contact-form {
  margin:50px 0px;

  .inner {
      padding:0px 20px;
  }

  @include breakpoint(tablet) {
      margin:95px 0px;
      .inner {
          padding: 0px 40px;
      }
  }


  h2 {
      font-size:34px;
      margin:0px 0px 30px 0px;
      font-weight:900;
      color:$light_blue;
      text-align:center;
      line-height:1.1em;
      width:100%;
      letter-spacing:.8px;

      @include breakpoint(tablet) {
          font-size:71px;
          margin:0px 0px 40px 0px;
      }
  }


  .select-wrap {
      position:relative;
      width:100%;
      @include breakpoint(tablet) {
          width:100%;
      }

  }

  
  
}
.select2-container {
  width:100%;
  text-align:left;
}
.select-wrap {
  width:100%;

  h2, select {
    width:100%;
  }
  h2 {
    margin-top:0px;
  }

  .select2-container {
    width:100% !important;
    border-bottom:1.5px solid $dark_blue;

    &.select2-container--focus {
    }
  }
}
select.form-select,
  .select2-container--default .select2-selection--single {
      appearance: none;
      -webkit-appearance:none;
      font-weight:500;
      background:$white;
      border:0px !important;
      height:auto;
      font-size:11px;
      color:$dark_blue;
      border-radius:50px !important;
      border-bottom:1.5px solid $dark_blue;
      padding: 15px 0px !important;
      text-align:left;
      letter-spacing:0px;
      line-height:1em;
      width:100%;
      font-family:$font_body;

      &[aria-expanded=true] {
          color:$white;
          &::before {
              content:"";
              display:block;
              position:absolute;
              top:51%;
              left:0px;
              width:1px;
              height:40px;
              z-index:-1;
              background:#e3e3e3;
          }
          &::after {
              content:"";
              display:block;
              position:absolute;
              top:51%;
              right:0px;
              width:1px;
              height:40px;
              z-index:-1;
              background:#e3e3e3;
          }
      }
  
      &:active,
      &:focus
      {
          color:$light_blue !important;

          .select2-selection__rendered {
              color:$light_blue !important;
          }
      }

      @include breakpoint(tablet) {
          font-size:22px;
          letter-spacing:0px;
          padding: 15px 0px !important;
          text-align:left;
      }

  }

/* Select2 Dropdown Overrides */

.select2-results__options {
  text-align:left;
  font-size:16px;
  color:$dark_blue;
  font-family: $font_body;
  font-weight:600;
  padding-top:20px;

  li {
      position:relative;
      padding:6px 20px;
      background:transparent !important;

      &::before {
          content:"";
          position:absolute;
          top:0px;
          width:80%;
          left:10%;
          display:block;
          height:1px;
          background:#e3e3e3;
      }

      &:first-child {
          &::before {
              display:none;
          }
          
      }
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding:0px;
  line-height:1em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top:50%;
  right:13px;
  width:7px;
  height:7px;
  transform:translateY(-50%);

  @include breakpoint(tablet) {
      right:20px;
      width:13px;
      height:12px;
  }
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border:0px;
  transform-origin:center;
  background:url(select-arrow-down-grey.svg) center no-repeat;
  background-size:cover;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  margin:0px;
  

}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border:0px;
  //transform:rotate(-180deg);
  scale:-1;
}

section.section-contact-form .select2-container--default .select2-selection--single:active .select2-selection__arrow b, 
section.section-contact-form .select2-container--default .select2-selection--single:focus .select2-selection__arrow b {
  scale:-1;
}

.select2-dropdown {
  border-radius:30px;
  border-color:#E3E3E3;
}

.select2-container--default .select2-results__option--selectable {
  background:transparent !important;
  color:$dark_blue;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background:transparent !important;
  color:$medium_blue;
}
.select2-container--default .select2-results__option--highlighted {
  background:transparent !important;
  color:$medium_blue;
}
.select2-container--default .select2-results__option--selected {
  background:transparent !important;
  color:$medium_blue;
}


.section-form-contact {
  display:none;
  margin-top:40px;

  @include breakpoint(tablet) {
    margin-top:60px;
  }
  
  &.active {
    display:block;
  }

  h2 {
    margin-top:0px;
  }
}

