// Raised Bottles on Home Page //

@import "variables";
@import "mixins";
@import "fonts";

.home-banner-bottles {
    min-height:100vh;
    display:flex;
    flex-wrap:wrap;
    padding:7vh 0px 50vh 0px;
    overflow:hidden;

    @include breakpoint(laptop) {
        padding:12vw 0px 20vw 0px;
    }

    .inner {
        z-index:4;
    }

    .clouds {
        z-index:3;
    }

    .home-bottles-intro {

        h2 {
            margin:0px 0px 1em 0px;
            line-height:1em;

            @include breakpoint(tablet) {
                width:82%;
            }

            @include breakpoint(laptop) {
                margin:0px 0px 1.5em 0px;
                width:76%;
            }

            @include font-size(large);
        }

        p {
            width:480px;
            max-width:100%;
            font-weight:bold;
            line-height:1.8em;

            @include breakpoint(tablet) {
                font-size:22px;
            }

            @include breakpoint(laptop) {
                font-size:30px;
            }
        }
    }

    .home-banner-bottle {
        position:absolute;
        z-index:1;
        max-height:420px;
        width: auto;
        height: auto;
        bottom:0px;
        right:0px;

        &.bottle-1 {
            right:52%;
            max-height:386px;

            @include breakpoint(tablet) {
                right:30%;
                max-height:54%;
            }

            @include breakpoint(laptop) {
                right:32%;
                max-height:66%;
            }
            @include breakpoint(desktop) {
                right:37%;
                max-height:65%;
            }
            @include breakpoint(desktopwide) {
                right:37%;
                max-height:65%;
            }
        }
        &.bottle-2 {
            right:-12%;
            max-height:431px;

            @include breakpoint(tablet) {
                right:-25%;
                max-height:65%;
            }

            @include breakpoint(laptop) {
                right:-19%;
                max-height:81%;
            }
            @include breakpoint(desktop) {
                right:-12%;
                max-height:79%;
            }
            @include breakpoint(desktopwide) {
                right:-3%;
                max-height:79%;
            }
        }
    }
}