@import "variables";
@import "mixins";
@import "fonts";

section.rainbow-banner {
    width:100vw;
    position:relative;
    overflow:hidden;
    padding:23vw 0px 30vw 0px;

    @include breakpoint(tablet) {
        padding:9vw 0px 16vw 0px;
        min-height:40vh;
    }

    &.hero-banner {
        min-height: 70vh;
        @include breakpoint(tablet) {
            min-height:75vh;
        }
    }

    h2 {
        color:$white;
        text-align:left;
        font-size:35px;
        line-height:1.1em;
        margin:0px;

        @include breakpoint(tablet) {
            font-size:6.2vw;
        }
        @include breakpoint(desktopwide) {
            //font-size:89px;
        }
    }

    .inner {
        @include breakpoint(desktopwide) {
            width:1440px;
        }

        &.center {
            h2 {
                text-align:center;
                margin-bottom:18px;

                @include breakpoint(tablet) {
                    margin-bottom:40px;
                }
            }
        }
    }

    &.grid-banner {

        h2 {
            font-size:40px;

            @include breakpoint(laptop) {
                font-size:112px;
            }
        }

        .icon-grid {
            display:flex;
            flex-wrap:wrap;
            align-items:flex-start;
            justify-content:space-between;
            margin:56px 0px;
        
            @include breakpoint(tablet) {
                margin:84px 0px;
            }
        
            .inner {
                width:1100px;
            }
        
            .icon-item {
        
                width:24%;
                text-align:center;
        
                img {
                    height:72px;
                    width:auto;
                    display:block;
                    margin:0px auto;
        
                    @include breakpoint(tablet) {
                        height:86px;
                    }
                }
                p {
                    margin:24px 0px 0px 0px;
                    font-weight:900;
                    font-size:12px;
                    line-height:1em;
        
                    @include breakpoint(tablet) {
                        font-size:30px;
                    }
                }
            }
        }
    }
}