@import "variables";
@import "mixins";
@import "fonts";

section.section-versus {
    margin:50px 0px;

    @include breakpoint(tablet) {
        margin:95px 0px;
    }


    h2 {
        font-size:24px;
        margin:0px 0px 40px 0px;
        font-weight:900;
        color:$light_blue;
        text-align:center;
        line-height:1.2em;
        width:100%;

        @include breakpoint(tablet) {
            font-size:71px;
        }
    }

    .versus-selects {
        width:100%;
        display:flex;
        justify-content:space-between;
    }

    span.vs-drop {
        display:flex;
        aspect-ratio: 62 / 87;
        color:$white;
        font-weight:900;
        align-items:center;
        justify-content:center;
        padding-top:4px;
        line-height:1em;
        letter-spacing:2px;
        background:url('icon-drop-med-blue.svg');
        background-size:100% 100%;
        width:11px;
        font-size:11px;

        @include breakpoint(tablet) {
            width:62px;
            font-size:30px;
            padding-top:18px;
        }
    }

    select {
        appearance: none;
        -webkit-appearance:none;
        font-weight:900;
        background:#E3E3E3;
        border:0px;
        font-size:px;
        color:$dark_blue;
        text-transform:uppercase;
        border-radius:50px;
        padding:15px;
        text-align:center;
        letter-spacing:1px;
        line-height:1em;
        width:45%;
        font-family:$font_body;
    
        &:active,
        &:focus {
            background:$light_blue;
            color:$white;
        }

        @include breakpoint(tablet) {
            font-size:22px;
            letter-spacing:2px;
        }

    }
    
}

.versus-choices-blocks {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:30px;

    @include breakpoint(tablet){
        margin-top:80px;
    }

    .versus-choice-column {
        width:45%;
        
        .vs-info-box {
            width:100%;
            display:none;
            opacity:0;
            transform:translate(0%, -50%);
            transition:all .3s ease 0s;
            


            &.active {
                transform:translate(0%, 0%);
                display:block;
                opacity:1;
            }
            &:first-child:not(.active){
                transform:translate(0%, 0%);
                display:block;
                opacity:1;
            }

            img {
                width:28%;
                height:auto;
                margin:0px auto;
            }
            @include breakpoint(tablet) {

                

                display:none;
                flex-wrap:wrap;
                align-items:center;
                text-align:left;
                img {
                    width:28%;
                    height:auto;
                }
                &.active {
                    display:flex;
                }
            }
        }
    }
}