.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue,
.light_blue {
  color: #0094DA;
}

.medium-blue,
.medium_blue {
  color: #0040A8;
}

.dark-blue,
.dark_blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
form.form-contact-form .terms {
  margin: 50px auto;
}
@media (min-width: 1280px) {
  form.form-contact-form .terms {
    margin: 80px auto;
  }
}
form.form-contact-form .field {
  flex-wrap: wrap;
}
form.form-contact-form .field span.sub {
  display: block;
  line-height: 1em;
  font-weight: 400;
  margin-top: 6px;
}
form.form-contact-form .field span.required {
  color: #DE0000;
}
form.form-contact-form .field::after {
  box-shadow: none !important;
  border-radius: 0px;
  display: none;
}
form.form-contact-form .field .field__input {
  order: 2;
  width: 100%;
  box-shadow: none !important;
  border-bottom: 1.5px solid #000F44;
  border-radius: 0px;
}
form.form-contact-form .field .field__input:active, form.form-contact-form .field .field__input:focus {
  border-bottom: 1.5px solid #0094DA;
}
form.form-contact-form .field .label {
  width: 100%;
  position: relative;
  order: 1;
  color: #000F44;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2em;
}
@media (min-width: 1440px) {
  form.form-contact-form .field .label {
    font-size: 19.5px;
  }
}
form.form-contact-form .field .contact__field-error {
  width: 100%;
  order: 3;
}
form.form-contact-form .field.under .field__input {
  order: 1;
}
form.form-contact-form .field.under .label {
  order: 2;
  margin: 12px 0px 20px 0px;
  font-size: 15px;
  color: #BDBDBD;
  font-weight: 500;
}

.contact-form-header {
  margin-bottom: 40px;
}
.contact-form-header h2 {
  margin-bottom: 8px;
}
@media (min-width: 1280px) {
  .contact-form-header {
    margin-bottom: 60px;
  }
}

.form_section {
  margin: 50px 0px;
}
@media (min-width: 1280px) {
  .form_section {
    margin: 80px 0px;
  }
}
.form_section .field,
.form_section .contact__fields {
  margin-top: 0px !important;
}

.contact__fields + .contact__fields,
.contact__fields + .field,
.full + .full,
.field + .contact__fields,
.field + .form_section {
  margin-top: 44px;
}
@media (min-width: 1280px) {
  .contact__fields + .contact__fields,
  .contact__fields + .field,
  .full + .full,
  .field + .contact__fields,
  .field + .form_section {
    margin-top: 50px;
  }
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}
.contact__button {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
section.section-contact-form {
  margin: 50px 0px;
}
section.section-contact-form .inner {
  padding: 0px 20px;
}
@media (min-width: 768px) {
  section.section-contact-form {
    margin: 95px 0px;
  }
  section.section-contact-form .inner {
    padding: 0px 40px;
  }
}
section.section-contact-form h2 {
  font-size: 34px;
  margin: 0px 0px 30px 0px;
  font-weight: 900;
  color: #0094DA;
  text-align: center;
  line-height: 1.1em;
  width: 100%;
  letter-spacing: 0.8px;
}
@media (min-width: 768px) {
  section.section-contact-form h2 {
    font-size: 71px;
    margin: 0px 0px 40px 0px;
  }
}
section.section-contact-form .select-wrap {
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  section.section-contact-form .select-wrap {
    width: 100%;
  }
}

.select2-container {
  width: 100%;
  text-align: left;
}

.select-wrap {
  width: 100%;
}
.select-wrap h2, .select-wrap select {
  width: 100%;
}
.select-wrap h2 {
  margin-top: 0px;
}
.select-wrap .select2-container {
  width: 100% !important;
  border-bottom: 1.5px solid #000F44;
}
select.form-select,
.select2-container--default .select2-selection--single {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  font-weight: 500;
  background: #ffffff;
  border: 0px !important;
  height: auto;
  font-size: 11px;
  color: #000F44;
  border-radius: 50px !important;
  border-bottom: 1.5px solid #000F44;
  padding: 15px 0px !important;
  text-align: left;
  letter-spacing: 0px;
  line-height: 1em;
  width: 100%;
  font-family: "TT Commons", sans-serif;
}
select.form-select[aria-expanded=true],
.select2-container--default .select2-selection--single[aria-expanded=true] {
  color: #ffffff;
}
select.form-select[aria-expanded=true]::before,
.select2-container--default .select2-selection--single[aria-expanded=true]::before {
  content: "";
  display: block;
  position: absolute;
  top: 51%;
  left: 0px;
  width: 1px;
  height: 40px;
  z-index: -1;
  background: #e3e3e3;
}
select.form-select[aria-expanded=true]::after,
.select2-container--default .select2-selection--single[aria-expanded=true]::after {
  content: "";
  display: block;
  position: absolute;
  top: 51%;
  right: 0px;
  width: 1px;
  height: 40px;
  z-index: -1;
  background: #e3e3e3;
}
select.form-select:active, select.form-select:focus,
.select2-container--default .select2-selection--single:active,
.select2-container--default .select2-selection--single:focus {
  color: #0094DA !important;
}
select.form-select:active .select2-selection__rendered, select.form-select:focus .select2-selection__rendered,
.select2-container--default .select2-selection--single:active .select2-selection__rendered,
.select2-container--default .select2-selection--single:focus .select2-selection__rendered {
  color: #0094DA !important;
}
@media (min-width: 768px) {
  select.form-select,
  .select2-container--default .select2-selection--single {
    font-size: 22px;
    letter-spacing: 0px;
    padding: 15px 0px !important;
    text-align: left;
  }
}

/* Select2 Dropdown Overrides */
.select2-results__options {
  text-align: left;
  font-size: 16px;
  color: #000F44;
  font-family: "TT Commons", sans-serif;
  font-weight: 600;
  padding-top: 20px;
}
.select2-results__options li {
  position: relative;
  padding: 6px 20px;
  background: transparent !important;
}
.select2-results__options li::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 80%;
  left: 10%;
  display: block;
  height: 1px;
  background: #e3e3e3;
}
.select2-results__options li:first-child::before {
  display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
  line-height: 1em;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 13px;
  width: 7px;
  height: 7px;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 20px;
    width: 13px;
    height: 12px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0px;
  transform-origin: center;
  background: url(select-arrow-down-grey.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: 0px;
  scale: -1;
}

section.section-contact-form .select2-container--default .select2-selection--single:active .select2-selection__arrow b,
section.section-contact-form .select2-container--default .select2-selection--single:focus .select2-selection__arrow b {
  scale: -1;
}

.select2-dropdown {
  border-radius: 30px;
  border-color: #E3E3E3;
}

.select2-container--default .select2-results__option--selectable {
  background: transparent !important;
  color: #000F44;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: transparent !important;
  color: #0040A8;
}

.select2-container--default .select2-results__option--highlighted {
  background: transparent !important;
  color: #0040A8;
}

.select2-container--default .select2-results__option--selected {
  background: transparent !important;
  color: #0040A8;
}

.section-form-contact {
  display: none;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .section-form-contact {
    margin-top: 60px;
  }
}
.section-form-contact.active {
  display: block;
}
.section-form-contact h2 {
  margin-top: 0px;
}