// Audio Player
@import "variables";
@import "mixins";
@import "fonts";


.home-audio-player {
    display:flex;
    flex-wrap:wrap;
    position:fixed;
    z-index:10;
    left:0px;
    bottom:15%;
    height:69px;
    width:108px;
    background:$white;
    border:1px solid #C8C8C8;
    border-radius:18px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding:10px 32px 13px 29px;
    transform:translate(-77px, 0px);
    transition:all .3s ease 0s;

    @include breakpoint(tablet) {
        height:80px;
        width:228px;
        padding:23px 36px 23px 36px;
        transform:translate(-203px, 0px);
    }

    &.open {
        transform:translate(0px,0px);
        button#close-player {
            transform:rotate(0deg);
        }
    }

    

    p {
        color:#C8C8C8;
        font-weight:600;
        font-size:15px;
        line-height:1.2em;
        margin:0px;
        padding:0px 0px 0px 12px;
        display:none;
        flex-grow:1;
        width:86px;

        @include breakpoint(tablet) {
            display:block;
        }
    }


    button {
        -webkit-appearance:none;
        appearance:none;
        background:transparent;
        display:block;
        position:relative;
        border:0px;
        font-size:0px;
        
        

        &.play-audio {
            aspect-ratio: 49 / 46;
            width:38px;
            height:auto;

            @include breakpoint(tablet) {
                width:36.75px;
            }
        }

        

        img {
            display:block;
            position:absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            
        }

    }

    &.off {

        button {
            img.on {
                opacity:0;
            }
            img.off {
                opacity:1;
            }
        }
    }

    &.on {

        button {
            img.on {
                opacity:1;
            }
            img.off {
                opacity:0;
            }
        }
    }

    &.dark {
        background:$dark_blue;
        border:1px solid $dark_blue;

        p {
            color:$medium_blue;
        }

        button {
            img.off,
            img.close-x {
            filter: contrast(0) sepia(100%) hue-rotate(162deg) brightness(.34) saturate(10);
            }
        }
    }
    button#close-player {
        display:block; 
        width:13px;
        height:13px;
        position:absolute;
        z-index:4;
        top:10px;
        right:10px;
        cursor:pointer;
        transform:rotate(45deg);

        @include breakpoint(tablet) {
            width:8px;
            height:8px;
        }
    
    }
}