@import "variables";
@import "mixins";
@import "fonts";


ul.careers-list {
    display:block;
    margin:0px;
    padding:0px;

    li {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        margin:0px;
        padding:0px;

        &:nth-child(odd) {
            a {
                background:#f4f4f4;
            }
        }

        a {
            display:flex;
            flex-wrap:wrap;
            width:100%;
            justify-content:space-between;
            align-items:center;
            align-content:center;
            padding:22px;
            text-decoration:none;
            color:$dark_blue;
            font-size:16px;

            h2 {
                margin:0px;
                font-size:16px;
            }
            
            span.button {
                display:none;
            }

            @include breakpoint(tablet) {

                h2 {
                    font-size:22px;
                }
                span.button {
                    display:inline-block;
                }
            }
        }
    }
}