.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
#aisle {
  display: block;
  width: 100%;
}

section.aisle {
  padding: 60px 0px;
}
section.aisle .aisle-intro {
  text-align: center;
  margin-bottom: 40px;
}
section.aisle .aisle-intro h2 {
  color: #0094DA;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 1em;
  margin: 0px auto 18px 0px;
}
@media (min-width: 768px) {
  section.aisle .aisle-intro h2 {
    font-size: 60px;
  }
}
section.aisle .aisle-intro p {
  font-size: 24px;
  margin: 0px auto;
  font-weight: 700;
  width: 872px;
  max-width: 100%;
}
section.aisle .aisle-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 40px auto;
  width: 814px;
  max-width: 100%;
}
section.aisle .aisle-steps .aisle-step {
  width: 100%;
  text-align: center;
  margin: 0px 0px 30px 0px;
}
section.aisle .aisle-steps .aisle-step:nth-child(2) span {
  background: #FFA500;
}
section.aisle .aisle-steps .aisle-step:nth-child(3) span {
  background: #DE0000;
}
section.aisle .aisle-steps .aisle-step span {
  background: #FC4A6A;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 50px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 900;
  line-height: 1em;
  margin: 0px auto 20px auto;
}
@media (min-width: 768px) {
  section.aisle .aisle-steps .aisle-step span {
    font-size: 30px;
  }
}
section.aisle .aisle-steps .aisle-step p {
  width: 100%;
  padding: 0px 10%;
  margin: 0px auto;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4em;
  color: #000F44;
}
@media (min-width: 768px) {
  section.aisle .aisle-steps .aisle-step p {
    font-size: 18px;
    width: 100%;
  }
}
section.aisle .aisle-steps .aisle-step img {
  height: auto;
}
@media (min-width: 768px) {
  section.aisle .aisle-steps .aisle-step {
    width: 30%;
  }
}
section.aisle .aisle-terms {
  width: 535px;
  max-width: 100%;
  margin: 40px auto 0px auto;
}
section.aisle .aisle-terms p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0px;
  width: 100%;
}

#aisle-form-container {
  width: 580px;
  max-width: 100%;
}
#aisle-form-container .aisle-form-container-subscribed {
  width: 100%;
  order: 3;
  font-weight: bold;
  margin-top: 1em;
}

.aisle-form-container {
  display: flex;
  flex-wrap: wrap;
}
.aisle-form-container input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #707070;
  color: #707070;
  font-weight: 800;
  padding: 14px 35px;
  width: 65%;
  margin: 0px;
  font-family: "TT Commons", sans-serif;
}
.aisle-form-container input:focus {
  border-width: 1px;
  border-color: #0094DA;
}
.aisle-form-container input:active {
  border-width: 1px;
  border-color: #0094DA;
}
.aisle-form-container input::-moz-placeholder {
  color: #BDBDBD;
}
.aisle-form-container input::placeholder {
  color: #BDBDBD;
}
.aisle-form-container .aisle-form-input-text-error {
  order: 3;
  width: 100%;
}

.aisle-form-button-container {
  width: 35%;
}
.aisle-form-button-container button.aisle-form-button {
  background: #0040A8;
  font-weight: 900;
  font-family: "TT Commons", sans-serif;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0px;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
}
.aisle-form-button-container button.aisle-form-button:hover {
  background-color: #0094DA;
}