.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
section.section-versus {
  margin: 50px 0px;
}
section.section-versus .inner {
  padding: 0px 25px;
}
@media (min-width: 768px) {
  section.section-versus {
    margin: 95px 0px;
  }
  section.section-versus .inner {
    padding: 0px 40px;
  }
}
section.section-versus h2 {
  font-size: 34px;
  margin: 0px 0px 30px 0px;
  font-weight: 900;
  color: #0094DA;
  text-align: center;
  line-height: 1.1em;
  width: 100%;
  letter-spacing: 0.8px;
}
@media (min-width: 768px) {
  section.section-versus h2 {
    font-size: 71px;
    margin: 0px 0px 40px 0px;
  }
}
section.section-versus .versus-selects {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.section-versus span.vs-drop {
  display: flex;
  aspect-ratio: 62/87;
  color: #ffffff;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  line-height: 1em;
  letter-spacing: 1px;
  background: url("icon-drop-med-blue.svg");
  background-size: 100% 100%;
  width: 25px;
  font-size: 12px;
}
@media (min-width: 768px) {
  section.section-versus span.vs-drop {
    width: 62px;
    font-size: 30px;
    padding-top: 18px;
    letter-spacing: 2px;
  }
}
section.section-versus .select-wrap {
  position: relative;
  width: 44.5%;
}
@media (min-width: 768px) {
  section.section-versus .select-wrap {
    width: 45%;
  }
}
section.section-versus select,
section.section-versus .select2-container--default .select2-selection--single {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  font-weight: 900;
  background: #E3E3E3;
  border: 0px !important;
  height: auto;
  font-size: 11px;
  color: #000F44;
  text-transform: uppercase;
  border-radius: 50px !important;
  padding: 15px 15px !important;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 1em;
  width: 100%;
  font-family: "TT Commons", sans-serif;
}
section.section-versus select[aria-expanded=true],
section.section-versus .select2-container--default .select2-selection--single[aria-expanded=true] {
  color: #ffffff;
}
section.section-versus select[aria-expanded=true]::before,
section.section-versus .select2-container--default .select2-selection--single[aria-expanded=true]::before {
  content: "";
  display: block;
  position: absolute;
  top: 51%;
  left: 0px;
  width: 1px;
  height: 40px;
  background: #e3e3e3;
}
section.section-versus select[aria-expanded=true]::after,
section.section-versus .select2-container--default .select2-selection--single[aria-expanded=true]::after {
  content: "";
  display: block;
  position: absolute;
  top: 51%;
  right: 0px;
  width: 1px;
  height: 40px;
  background: #e3e3e3;
}
section.section-versus select:active, section.section-versus select:focus,
section.section-versus .select2-container--default .select2-selection--single:active,
section.section-versus .select2-container--default .select2-selection--single:focus {
  background: #0094DA;
  color: #ffffff !important;
}
section.section-versus select:active .select2-selection__rendered, section.section-versus select:focus .select2-selection__rendered,
section.section-versus .select2-container--default .select2-selection--single:active .select2-selection__rendered,
section.section-versus .select2-container--default .select2-selection--single:focus .select2-selection__rendered {
  background: #0094DA;
  color: #ffffff !important;
}
@media (min-width: 768px) {
  section.section-versus select,
  section.section-versus .select2-container--default .select2-selection--single {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 15px !important;
    text-align: center;
  }
}

/* Select2 Dropdown Overrides */
.select2-results__options {
  text-align: center;
  font-size: 12px;
  color: #000F44;
  font-family: "TT Commons", sans-serif;
  font-weight: 600;
  padding-top: 20px;
}
.select2-results__options li {
  border-top: 1px solid #e3e3e3;
  padding: 6px 20px;
}
.select2-results__options li:first-child {
  border-top: 0px;
}

.select2-dropdown {
  border-radius: 30px;
  border-color: #E3E3E3;
}

.select2-container--default .select2-results__option--selected {
  background: #e3e3e3;
}

.versus-choices-blocks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .versus-choices-blocks {
    margin-top: 80px;
  }
}
.versus-choices-blocks .versus-choice-column {
  width: 45%;
}
.versus-choices-blocks .versus-choice-column .vs-info-box {
  width: 100%;
  display: none;
  opacity: 0;
  transform: translate(0%, -50%);
  transition: all 0.3s ease 0s;
}
.versus-choices-blocks .versus-choice-column .vs-info-box.active {
  transform: translate(0%, 0%);
  display: block;
  opacity: 1;
}
.versus-choices-blocks .versus-choice-column .vs-info-box img {
  width: 28%;
  height: auto;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .versus-choices-blocks .versus-choice-column .vs-info-box {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
  }
  .versus-choices-blocks .versus-choice-column .vs-info-box img {
    width: 28%;
    height: auto;
  }
  .versus-choices-blocks .versus-choice-column .vs-info-box.active {
    display: flex;
  }
}