.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
.locator-slider-wrap {
  background: #ebebeb;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section-locator-w-slider {
  width: 1312px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.section-locator-w-slider h2 {
  width: 100%;
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  font-size: 20px;
}
@media (min-width: 768px) {
  .section-locator-w-slider h2 {
    width: 50%;
    text-align: left;
    font-size: 30px;
  }
}
.section-locator-w-slider .logo-slider {
  color: #ebebeb;
  padding: 0px;
}
.section-locator-w-slider .logo-slider::before {
  background: rgb(235, 235, 235);
  background: linear-gradient(90deg, rgb(235, 235, 235) 0%, rgba(235, 235, 235, 0) 100%);
}
.section-locator-w-slider .logo-slider::after {
  background: rgb(235, 235, 235);
  background: linear-gradient(90deg, rgba(235, 235, 235, 0) 0%, rgb(235, 235, 235) 100%);
}
.section-locator-w-slider .logo-slider img {
  max-height: 32px;
}
@media (min-width: 768px) {
  .section-locator-w-slider .logo-slider img {
    max-height: 40px;
    margin: 0px 20px;
  }
}
@media (min-width: 768px) {
  .section-locator-w-slider {
    padding: 40px;
  }
}

.newsletter-form.store-locator-form {
  width: 100%;
}
@media (min-width: 768px) {
  .newsletter-form.store-locator-form {
    width: 50%;
  }
}
.newsletter-form.store-locator-form .field {
  z-index: 0;
  border-radius: 50px;
  overflow: hidden;
}
.newsletter-form.store-locator-form .field::after {
  border: 0px;
}
.newsletter-form.store-locator-form .button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  border-radius: 0px;
  background: url("bg-rainbow-button.svg") top left no-repeat;
  background-size: cover;
  width: 30%;
  transition: all 0.3s ease 0s;
}
.newsletter-form.store-locator-form .button span {
  position: relative;
  z-index: 2;
}
.newsletter-form.store-locator-form .button::after {
  content: "";
  display: block;
  width: 120%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #0040A8;
  top: 0px;
  left: 100%;
  transform: skewX(30deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.newsletter-form.store-locator-form .button:hover::after {
  left: 0px;
  transform: skewX(0);
}