.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
section.home-banner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 4;
  min-height: calc(100vh - 30px);
  width: 100vw;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 15vh;
}
@media (min-width: 768px) {
  section.home-banner {
    min-height: calc(100vh - 40px);
    padding-bottom: 0px;
  }
}
section.home-banner .home-banner-bar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  background: #000F44;
  padding: 26px 20px;
  text-align: center;
}
@media (min-width: 768px) {
  section.home-banner .home-banner-bar {
    padding: 26px 20px;
  }
}
section.home-banner .home-banner-bar p {
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}
section.home-banner .home-banner-bar p sup {
  font-weight: 200;
  vertical-align: top;
}
@media (min-width: 768px) {
  section.home-banner .home-banner-bar p {
    font-size: 26.25;
  }
}
section.home-banner .home-banner-bottle {
  display: block;
  position: absolute;
  bottom: 0px;
  width: auto;
  max-height: 100%;
  z-index: 2;
  transform: translateY(100%);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
section.home-banner .home-banner-bottle.onscreen {
  opacity: 1;
  transform: translateY(11%);
}
@media (min-width: 768px) {
  section.home-banner .home-banner-bottle {
    max-height: 120%;
  }
}
section.home-banner .home-banner-bottle.home-banner-bottle-left {
  left: 5vw;
  transition-delay: 0.25s;
  max-height: 91%;
}
@media (min-width: 768px) {
  section.home-banner .home-banner-bottle.home-banner-bottle-left {
    left: 13vw;
    max-height: 100%;
  }
}
@media (min-width: 1440px) {
  section.home-banner .home-banner-bottle.home-banner-bottle-left {
    left: 13vw;
    max-height: 100%;
  }
}
section.home-banner .home-banner-bottle.home-banner-bottle-right {
  right: 0vw;
  max-height: 81%;
}
@media (min-width: 768px) {
  section.home-banner .home-banner-bottle.home-banner-bottle-right {
    right: 8vw;
    max-height: 91%;
  }
}
@media (min-width: 1440px) {
  section.home-banner .home-banner-bottle.home-banner-bottle-right {
    right: 8vw;
    max-height: 91%;
  }
}
section.home-banner h2.home-banner-slogan-letters {
  display: block;
  position: relative;
  z-index: 4;
  font-weight: 900;
  color: #000F44;
  line-height: 1em;
  font-size: 38vw;
  text-align: center;
  width: auto;
  margin: 0px auto;
}
@media (min-width: 768px) {
  section.home-banner h2.home-banner-slogan-letters {
    font-size: 20vw;
  }
}
@media (min-width: 1280px) {
  section.home-banner h2.home-banner-slogan-letters {
    font-size: 12vw;
  }
}
section.home-banner h2.home-banner-slogan-letters div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
section.home-banner h2.home-banner-slogan-letters div span {
  display: inline-block;
  line-height: 0.9em;
  opacity: 0;
  scale: 0.5;
}
section.home-banner h2.home-banner-slogan-letters div span small {
  display: block;
  font-size: 23%;
  line-height: 23%;
}
section.home-banner h2.home-banner-slogan-letters div span:nth-child(2) {
  transform: translate(0, 15%);
}

.home-audio-player {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 10;
  right: 100%;
  bottom: 15%;
  height: 69px;
  width: 108px;
  background: #ffffff;
  border: 1px solid #C8C8C8;
  border-radius: 18px;
  padding: 10px 32px 13px 29px;
  transform: translate(88px, 0px);
  transition: all 0.3s ease 0s;
}
@media (min-width: 768px) {
  .home-audio-player {
    height: 80px;
    width: 228px;
    transform: translate(208px, 0px);
    padding: 23px 36px 23px 50px;
  }
}
.home-audio-player.closed {
  transform: translate(30px, 0px);
}
.home-audio-player.closed button#close-player {
  transform: rotate(45deg);
}
.home-audio-player p {
  color: #C8C8C8;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2em;
  margin: 0px;
  padding: 0px 0px 0px 12px;
  display: none;
  flex-grow: 1;
  width: 86px;
}
@media (min-width: 768px) {
  .home-audio-player p {
    display: block;
  }
}
.home-audio-player button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  display: block;
  position: relative;
  border: 0px;
  font-size: 0px;
}
.home-audio-player button.play-audio {
  aspect-ratio: 49/46;
  width: 38px;
  height: auto;
}
@media (min-width: 768px) {
  .home-audio-player button.play-audio {
    width: 36.75px;
  }
}
.home-audio-player button img {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.home-audio-player.off button img.on {
  opacity: 0;
}
.home-audio-player.off button img.off {
  opacity: 1;
}
.home-audio-player.on button img.on {
  opacity: 1;
}
.home-audio-player.on button img.off {
  opacity: 0;
}
.home-audio-player button#close-player {
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .home-audio-player button#close-player {
    width: 8px;
    height: 8px;
  }
}

.modal-form-overlay {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: block;
  background: rgb(125, 125, 125);
  mix-blend-mode: multiply;
  pointer-events: none;
  opacity: 0;
  font-size: 0px;
}
.modal-form-overlay.open {
  pointer-events: auto;
}

.modal-nl-form {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 10%;
  z-index: 10;
  aspect-ratio: 876/360;
  width: 315px;
}
.modal-nl-form::after {
  content: "";
  display: block;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vw;
  top: 0px;
  left: 0px;
  pointer-events: none;
  background: #000F44;
  opacity: 0;
}
@media (min-width: 768px) {
  .modal-nl-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.modal-nl-form h2 {
  position: relative;
  z-index: 3;
  margin: 0px;
  font-size: 32px;
  padding-top: 17px;
  line-height: 1.2em;
  text-align: center;
}
.modal-nl-form p {
  display: none;
  position: relative;
  z-index: 3;
}
.modal-nl-form form {
  display: none;
  position: relative;
  z-index: 3;
}
.modal-nl-form img {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.modal-nl-form.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-nl-form.active::after {
  opacity: 0.5;
}
.modal-nl-form.active p {
  display: block;
}
.modal-nl-form.active form {
  display: flex;
}