// New Banner for Home Page //

@import "variables";
@import "mixins";
@import "fonts";

section.home-banner-simple {
    display:flex;
    flex-wrap:wrap;
    position:relative;
    z-index:4;
    min-height:100vh;
    width:100vw;
    align-items:center;
    align-content:flex-start;
    justify-content: center;
    overflow:hidden;
    padding-top:40%;

    .bg-img img, .bg-img picture, .bg-img svg {
        object-position: bottom;

        @include breakpoint(laptop) {
            object-position:center
        }
    }

    @include breakpoint(tablet) {
        padding-top:17vh;
    }

    @include breakpoint(tabletwide) {
        padding-top:29vh
    }

    @include breakpoint(laptop) {
        padding-top:25vh;
    }
    @include breakpoint(laptopwide) {
        padding-top:27vh;
    }
    @include breakpoint(desktop) {
        padding-top:29vh;
    }
    @include breakpoint(desktopwide) {
        padding-top:29vh;
    }


    .inner {
        width:100%;
    }


    .home-banner-heading {
        position:relative;
        z-index:3;

        @include breakpoint(laptop) {
            padding-left:32%;
        }

        h1 {
            color:$white;
            margin:0px;
            text-align:left;
            text-transform:uppercase;
            font-weight:900;
            line-height:1em;
            letter-spacing:1px;

            @include breakpoint(laptop) {
                letter-spacing:2px;
            }

            @include font-size(medium);

            @include breakpoint(laptop) {
                font-size:4vw;
            }
            @include breakpoint(1366px) {
                font-size:4.2vw;
            }
            @include breakpoint(laptopwide) {
                font-size:4.8vw;
            }
        }
        p {
            color:$white;
            text-align:left;
        }
    }
}