@import "variables";
@import "mixins";
@import "fonts";

.section-logo-slider {
    text-align:center;
    padding:66px 0px;
    margin:0px;

    @include breakpoint(tablet) {
        padding:160px 0px 80px 0px;
    }

    header {

        h2 {
            color:$light_blue;
            font-weight:900;
            margin:0px auto;
            font-size:40px;

            @include breakpoint(tablet) {
                font-size:75px;
            }
        }
        p {
            margin:0px;
            text-align:center;
            font-size:22px;
            font-weight:bold;
            line-height:1.3em;

            @include breakpoint(tablet) {
                font-size:30px;
            }
        }
    }

    a {
        cursor:pointer;
    }

    @include breakpoint(tablet) {
        margin-top:100px;
        margin-bottom:100px;
    }
}
.logo-slider {
    padding:45px 0px 55px 0px;
    width:100%;
    

    img {
        max-height:104px;
        max-width:256px;
        margin:0px 20px;
        height:auto;
    }
}