@import "variables";
@import "mixins";
@import "fonts";

.timeline-h2-wrap {
  position:absolute;
  left:0px;
  top:0px;
  height:10vh;
  display:flex;
  width:100%;

  &.onscreen {
    position:fixed;
  }
}
.section-timeline {
    display:block;
    width:100vw;
    min-height:80vh;
    padding-top:10vh;
    background:#f4f4f4;
    overflow:hidden;
    position:relative;

    h2.timeline-heading {
      margin:0px;
      line-height:1em;
      font-size:35px;      
      
      @include breakpoint(tablet) {
        font-size:82px;
      }
    }

}

.timeline-scroller {
  position: relative;
}
.timeline-wrap {
    display:flex !important;
    flex-wrap:nowrap !important;
    position:relative;
    align-items:flex-end;

    

    @include breakpoint(tablet) {
      padding-top:10vh;
    }

    .section {

        display:flex !important;
        flex-shrink:0 !important;
        justify-content:flex-end;
        align-items:flex-end;
        height:75vh;
        max-width:none !important;
        width:100vw;
        background:#f4f4f4;

        @include breakpoint(tablet) {
          align-items:center;
          height:75vh;
          //margin-top:10vh;

          /* switch each */
          &:nth-child(even) {
            justify-content:flex-start;
          }
        }

        .timeline-block-content {
          background:$dark-blue;
          color:$white;
          width:236px;
          max-width:70%;
          padding:20px 7.6vw;
          position:relative;
          z-index:5;

          @include breakpoint(tablet) {
            width:560px;
            height:486px;
            padding:6.9vw 5.7vw;
          }

          h3 {
            color:$white;
            font-size:20px;
            line-height:1.2em;
            margin:0px 0px 1em 0px;
            @include breakpoint(tablet) {
              font-size:37px;
            }
          }

          p {
            margin:0px;
            font-size:12px;
            color:$white;
            @include breakpoint(tablet) {
              font-size:21px;
            }
          }

        }

      }

      .bg-img {
        width:95%;
      }


}


nav.hor {
    position: fixed;
    bottom:0px;
    left: 0%;
    width:100%;
    height:15vh;
    display: flex;
    align-content:stretch;
    background:#f4f4f4;
    opacity:0;
    pointer-events:none;
    transition:.3s ease 0s;
    transform: translateY(100%);

    /*When we've got to the timeline, show the nav */
    &.onscreen {
      opacity:1;
      pointer-events:auto;
      transform: translateY(0%);
    }
  }
   
  nav.hor div {
    flex-basis: 25%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 80px;
    height:100%;
    text-align: center;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    color: #BFBFBF;
    font-weight: 900;
    z-index: 10;
    user-select: none;
    transform:all .3s ease 0s;
    height:100%;

    @include breakpoint(tablet) {
      font-size:30px;
    }

    &.active {
      color:$dark_blue;

      &.timeline-drop {
        .icon-drop {
            fill:$dark_blue;
        }
      }
    }

    span {
      margin:0px auto;
      line-height:1em;
      width:7px;

      @include breakpoint(tablet) {
        width:22px;
      }
    }
  }
