@import "variables";
@import "mixins";
@import "fonts";

.destini-inner {
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    min-height:90vh;
}

.destini-intro {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    align-content:center;
    background:$dark_blue;
    color:$white;
    padding:34px 40px;
    justify-content:center;
    text-align:center;

    @include breakpoint(tablet) {
    }

    @include breakpoint(laptop) {
        width:36%;
        padding:100px 50px;
    }

    img {
        width:112px;
        height:auto;
        display:block;

        @include breakpoint(tablet) {
            width:35%;
        }
        @include breakpoint(laptop) {
            width:100%;
        }
    }

    h1 {
        width:100%;
        color:$white;
        font-size:32px;
        font-weight:900;
        text-align:center;
        margin:20px 0px 40px 0px;

        @include breakpoint(tablet) {
            font-size:60px;
            width:auto;
            margin:0px 60px;
        }
        @include breakpoint(laptop) {
            width:100%;
        }
    }

    h2 {
        width:100%;
    }
    p {
        width:100%;
        color:$white;

        @include breakpoint(tablet) {
            margin-top:30px;
        }
        @include breakpoint(laptop) {
            margin-top:30px;
        }
    }

    
}
.storeDiv {
    display: block;
    margin: 0px auto;
    border-radius: 0px;
    overflow: hidden;
    width:100%;
    height:100%;


    @include breakpoint(desktop) {
        width:75%;
    }
}
.jump-to-aisle {
    display:flex;
    position:absolute;
    z-index:10;
    aspect-ratio: 372 / 223;
    width:277px;
    height:auto;
    color:$white;
    font-weight:900;
    font-size:24px;
    text-align:center;
    align-items:center;
    align-content:center;
    justify-content:center;
    padding:20px 36px;
    right:-20px;
    bottom:20%;
    color:$dark_blue;
    line-height:1em;
    text-transform: uppercase;
    text-decoration:none;
    transform-origin:right;
    transform:scale(.7);

    @include breakpoint(tablet) {
        transform:scale(1);
    }


    span {
        position:relative;
        z-index:2;

        span {
            color:$light_blue;
        }
    }
    

    svg {
        display:block;
        position:absolute;
        z-index:1;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
}