@import "variables";
@import "mixins";
@import "fonts";


ul.model-blocks{
    margin:0px;
    padding:0px;
    display:flex;
    flex-wrap:wrap;
    width:100%;

    li {
        display:flex;
        width:100%;
        flex-wrap:wrap;
        justify-content:space-between;
        margin:0px 0px 32px 0px;

        @include breakpoint(tablet) {
            margin-bottom:120px;
        }

        img {
            width:100%;
            height:auto;

            @include breakpoint(tablet) {
                width:50%;
            }
        }

        .model-block-content {
            width:100%;
            display:flex;
            flex-wrap:wrap;
            align-items:center;
            align-content:center;
            justify-content:center;
            padding:20px 5vw;

            @include breakpoint(tablet) {
                width:45%;
            }

            h3 {
                font-size:45px;
                font-weight:900;
                margin:0px 0px .8em 0px;
                position:relative;
                width:100%;

                span {
                    display:flex;
                    position:absolute;
                    top:-6px;
                    left:-30px;
                    aspect-ratio: 62 / 87;
                    color:$white;
                    font-weight:900;
                    align-items:flex-end;
                    justify-content:center;
                    padding-bottom:4px;
                    line-height:1em;
                    background:url('icon-drop-med-blue.svg');
                    background-size:100% 100%;
                    width:11px;
                    font-size:11px;

                    @include breakpoint(tablet) {
                        width:62px;
                        left:-80px;
                        top:-20px;
                        font-size:39px;
                        padding-bottom:14px;
                    }
                }
            }
            p {
                font-size:28px;
            }
        }

        &:nth-child(even) {
            
            @include breakpoint(tablet) {
                img {
                    order:2;
                    width:43.6%;
                }
                .model-block-content {
                    order:1;
                    width:48%;
                    padding:20px 5vw 20px 15vw;
                }
            }
        }
    }
}