@import "variables";
@import "mixins";
@import "fonts";

.footer {

    background:$dark_blue;
    color:#ffffff;
    padding:68px 0px 32px 0px;

    @include breakpoint(tablet){
      padding:87px 0px 54px 0px;
    }

    .footer-top {
      display:flex;
      flex-wrap:wrap;
      width:100%;

      h2.footer-messaging {
        text-transform:uppercase;
        font-weight:900;

        span {
          display:block;
        }

        @include breakpoint(tablet) {
          font-size:36px;
        }
      }

      ul.footer-menu {
        margin:0px;
        list-style:none;

        li {
          display:block;
          list-style:none;
          a {
            color:#ffffff;
            font-weight:900;
            font-size:22.5px;
            line-height:1em;
            margin-bottom:22px;
          }

          @include breakpoint(tablet) {
            margin-bottom:28px;
          }
        }
      }

    }
    .footer-bottom {
      display:flex;
      flex-wrap:wrap;
      width:100%;
      border-top:1px solid $light_blue;
      padding:34px 0px 0px 0px;

      @include breakpoint(tablet) {
        padding-top:42px;
      }
    }
}

  

  
  @media screen and (max-width: 749px) {
    .footer-block.footer-block--menu:only-child {
      text-align: left;
    }
  }
  
  
  .footer__list-social:empty,
  .footer-block--newsletter:empty {
    display: none;
  }
  
  
  .footer__list-social.list-social:only-child {
    justify-content: center;
  }
  
  
  
  
  @media screen and (max-width: 749px) {
    /*
      On a small screen we want all the items to be centered
      because they will be stacked.
     */
    
    .footer__list-social.list-social {
      display: flex;
      justify-content: center;
    }
  
   
  }
  
 

 
  
  .copyright__content {
    font-size: 1.1rem;
  }
  
  .copyright__content a {
    color: currentColor;
    text-decoration: none;
  }
  
  .policies {
    display: inline;
  }
  
  .policies li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .policies li::before {
    content: '\00B7';
    padding: 0 0.8rem;
  }
  
  .policies li a {
    padding: 0.6rem 0;
    display: block;
  }
  
  @media screen and (min-width: 750px) {
    .policies li a {
      padding: 0;
    }
  }
  
  
  
  