// Raised Bottles on Home Page //

@import "variables";
@import "mixins";
@import "fonts";

.home-banner-bottles {
    min-height:100vh;
    display:flex;
    flex-wrap:wrap;
    padding:10% 0px;

    .inner {
        z-index:4;
    }

    .clouds {
        z-index:3;
    }

    .home-bottles-intro {

        h2 {
            font-size:40px;
            margin:0px 0px 40px 0px;
            line-height:1em;

            @include breakpoint(laptop) {
                font-size:96px;
                margin:0px 0px 60px 0px;
            }
        }

        p {
            width:480px;
            max-width:100%;
            font-weight:bold;
            line-height:1.8em;

            @include breakpoint(tablet) {
                font-size:30px;
            }
        }
    }

    .home-banner-bottle {
        position:absolute;
        z-index:1;
        max-height:60%;
        width: auto;
        height: auto;
        bottom:0px;
        right:0px;
    }
}