@import "variables";
@import "mixins";
@import "fonts";

section.home-bottles-copy {
    z-index:3;
    padding:64px 0px 87.5vw 0px;

    @include breakpoint(tablet) {
        padding:140px 0px 184px 0px;
    }
    + section {
        z-index:2;
    }

}
.home-bottles-intro {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    position:relative;

    .home-intro-left {
        width:100%;
        order:2;
        position:relative;
        filter:drop-shadow(30px 42px 16px rgba(0,0,0,.15));

        @include breakpoint(tablet) {
            order:1;
            width:50%;
        }
        @include breakpoint(laptop) {
            filter:drop-shadow(40px 56px 21px rgba(0,0,0,.15));
        }

        img.float {
            height:auto;
            width:auto;

            &.float-1 {
                width:46%;
                @include breakpoint(tablet) {
                    width:42%;
                    left:0%;
                }
            }

            &.float-2 {
                width:60%;
                left:30%;
                margin-top:20%;
                @include breakpoint(tablet) {
                    width:50.25%;
                    left:40%;
                    margin-top:-60px;
                }
            }
        }
    }

    .home-intro-right {
        width:100%;
        order:1;
        overflow-x:hidden;

        @include breakpoint(tablet) {
            order:2;
            width:44%;
        }

        h2 {
            font-size:44px;
            line-height:1.08em;
            margin:0px 0px 20px 0px;
            color:$dark_blue;
            white-space: nowrap;
            letter-spacing:2px;

            span {
                display:block;
                line-height:1em;
            }

            @include breakpoint(tablet) {
                font-size:75px;
            }

        }

        span.subhead {
            color:$orange;
            font-weight:900;
            font-size:37.5px;
            line-height: 1em;
            
        }
    }
}