@import "variables";
@import "mixins";
@import "fonts";

section.pullquote {
    display:block;
    width:100%;
    margin:40px 0px 80px 0px;

    @include breakpoint(tablet) {
        margin:80px 0px 13vw 0px;
    }

    .testimonial {
        width:100%;

        blockquote {
            position:relative;
            font-size:28px;
            font-weight:bold;
            text-align:center;
            margin:0px;
            color:$dark_blue;
            padding:0px;
            line-height:1.3em;
            border:0px;
            font-style:normal;
            padding:0px 20px;

            @include breakpoint(tablet) {
                font-size:52px;
                padding:0px 80px;
            }

            &::before {
                content:"“";
                color:$light_blue;
                font-weight:900;
                font-size:2.5em;
                line-height:1em;
                position:absolute;
                display:inline-flex;
                top:0px;
                left:0px;
                transform:translate(0%, -20%);
            }

            &::after {
                content:"“";
                color:$light_blue;
                font-size:2.5em;
                line-height:1em;
                font-weight:900;
                position:absolute;
                display:inline-flex;
                bottom:0px;
                right:0px;
                transform-origin: center center;
                transform:translate(0%, 20%) rotate(180deg);
            }
        }
    }
}