.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
.section-timeline {
  display: block;
  width: 100vw;
  min-height: 80vh;
  padding: 40px 0px;
  background: #f4f4f4;
  overflow: hidden;
}

.timeline-scroller {
  position: relative;
}

.timeline-wrap {
  display: flex !important;
  flex-wrap: nowrap !important;
  position: relative;
}
.timeline-wrap .section {
  display: flex !important;
  flex-shrink: 0 !important;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  max-width: none !important;
  width: 100vw;
  background: #f4f4f4;
}
@media (min-width: 768px) {
  .timeline-wrap .section {
    align-items: center;
    height: 100vh;
    /* switch each */
  }
  .timeline-wrap .section:nth-child(even) {
    justify-content: flex-start;
  }
}
.timeline-wrap .section .timeline-block-content {
  background: #000F44;
  color: #ffffff;
  width: 236px;
  max-width: 70%;
  padding: 40px;
  position: relative;
  z-index: 5;
}
@media (min-width: 768px) {
  .timeline-wrap .section .timeline-block-content {
    width: 560px;
    height: 486px;
  }
}
.timeline-wrap .section .timeline-block-content h3 {
  color: #ffffff;
}
.timeline-wrap .bg-img {
  width: 95%;
}

nav.hor {
  position: fixed;
  bottom: 0px;
  left: 0%;
  width: 100%;
  display: flex;
  background: #f4f4f4;
}

nav.hor div {
  flex-basis: 25%;
  width: 80px;
  text-align: center;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
  color: #BFBFBF;
  font-weight: 900;
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: all 0.3s ease 0s;
}
@media (min-width: 768px) {
  nav.hor div {
    font-size: 30px;
  }
}
nav.hor div.active {
  color: #00142A;
}