@import "variables";
@import "mixins";
@import "fonts";

section.home-bottles-copy {

    padding:64px 0px 0px 87.5vw;

    @include breakpoint(tablet) {
        padding:190px 0px 164px 0px;
    }

}
.home-bottles-intro {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    position:relative;

    .home-intro-left {
        width:100%;
        order:2;

        @include breakpoint(tablet) {
            order:1;
            width:50%;
        }

        img.float {
            max-height:100%;
            height:auto;
            width:auto;

            &.float-1 {
                @include breakpoint(tablet) {
                    width:228px;
                }
            }

            &.float-2 {
                @include breakpoint(tablet) {
                    width:328px;
                }
            }
        }
    }

    .home-intro-right {
        width:100%;
        order:1;

        @include breakpoint(tablet) {
            order:2;
            width:50%;
        }

        h2 {
            font-size:50px;
            line-height:1em;
            margin:0px;
            color:$dark_blue;

            @include breakpoint(tablet) {
                font-size:75px;
            }

        }

        span.subhead {
            color:$orange;
            font-weight:900;
            font-size:37.5;
        }
    }
}