@import "variables";
@import "mixins";
@import "fonts";


.section-timeline {
    display:block;
    width:100%;
    min-height:80vh;
    padding:40px 0px;
    background:#f4f4f4;
}

.timeline-scroller {
  position: relative;
}
.timeline-wrap {
    display:flex !important;
    flex-wrap:nowrap !important;
    position:relative;

    .section {

        display:flex !important;
        flex-shrink:0 !important;
        justify-content:flex-end;
        align-items:flex-end;
        height:100vh;
        max-width:none !important;
        width:100vw;
        background:#f4f4f4;

        @include breakpoint(tablet) {
          align-items:center;

          &:nth-child(even) {
            justify-content:flex-start;
          }
        }

        .timeline-block-content {
          background:$dark-blue;
          color:$white;
          width:236px;
          max-width:70%;
          padding:40px;
          position:relative;
          z-index:5;

          @include breakpoint(tablet) {
            width:560px;
          }

          h3 {
            color:$white;
          }

        }

      }

      .bg-img {
        width:95%;
      }



}


nav.hor {
    position: fixed;
    bottom:0px;
    left: 0%;
    width:100%;
    display: flex;
    background:#f4f4f4
  }
  nav.hor div {
    flex-basis: 25%;
    width: 80px;
    text-align: center;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    color: #BFBFBF;
    font-weight: 900;
    z-index: 10;
    user-select: none;
    transform:all .3s ease 0s;

    @include breakpoint(tablet) {
      font-size:30px;
    }

    &.active {
      color:$darkest_blue;
    }
  }