@import "variables";
@import "mixins";
@import "fonts";

section.section-versus {
    margin:50px 0px;

    .inner {
        padding:0px 20px;
    }

    @include breakpoint(tablet) {
        margin:95px 0px;
        .inner {
            padding: 0px 40px;
        }
    }


    h2 {
        font-size:34px;
        margin:0px 0px 30px 0px;
        font-weight:900;
        color:$light_blue;
        text-align:center;
        line-height:1.1em;
        width:100%;
        letter-spacing:.8px;

        @include breakpoint(tablet) {
            font-size:71px;
            margin:0px 0px 40px 0px;
        }
    }

    .versus-selects {
        width:100%;
        display:flex;
        justify-content:space-between;
    }

    span.vs-drop {
        display:flex;
        aspect-ratio: 62 / 87;
        color:$white;
        font-weight:900;
        align-items:center;
        justify-content:center;
        padding-top:4px;
        line-height:1em;
        letter-spacing:1px;
        background:url('icon-drop-med-blue.svg');
        background-size:100% 100%;
        width:25px;
        font-size:12px;

        @include breakpoint(tablet) {
            width:62px;
            font-size:30px;
            padding-top:18px;
            letter-spacing:2px;
        }
    }

    .select-wrap {
        position:relative;
        width:44.5%;
        @include breakpoint(tablet) {
            width:45%;
        }

    }
    select,
    .select2-container--default .select2-selection--single {
        appearance: none;
        -webkit-appearance:none;
        font-weight:900;
        background:#E3E3E3;
        border:0px !important;
        height:auto;
        font-size:11px;
        color:$dark_blue;
        text-transform:uppercase;
        border-radius:50px !important;
        padding:15px 15px !important;
        text-align:left;
        letter-spacing:.5px;
        line-height:1em;
        width:100%;
        font-family:$font_body;

        &[aria-expanded=true] {
            color:$white;
            &::before {
                content:"";
                display:block;
                position:absolute;
                top:51%;
                left:0px;
                width:1px;
                height:40px;
                z-index:-1;
                background:#e3e3e3;
            }
            &::after {
                content:"";
                display:block;
                position:absolute;
                top:51%;
                right:0px;
                width:1px;
                height:40px;
                z-index:-1;
                background:#e3e3e3;
            }
        }
    
        &:active,
        &:focus
        {
            background:$light_blue;
            color:$white !important;

            .select2-selection__rendered {
                background:$light_blue;
                color:$white !important;
            }
        }

        @include breakpoint(tablet) {
            font-size:22px;
            letter-spacing:2px;
            padding:15px !important;
            text-align:center;
        }

    }
    
}

/* Select2 Dropdown Overrides */

.select2-results__options {
    text-align:center;
    font-size:12px;
    color:$dark_blue;
    font-family: $font_body;
    font-weight:600;
    padding-top:20px;

    li {
        position:relative;
        padding:6px 20px;
        background:transparent !important;

        &::before {
            content:"";
            position:absolute;
            top:0px;
            width:80%;
            left:10%;
            display:block;
            height:1px;
            background:#e3e3e3;
        }

        &:first-child {
            &::before {
                display:none;
            }
            
        }
    }
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding:0px;
    line-height:1em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top:50%;
    right:13px;
    width:7px;
    height:7px;
    transform:translateY(-50%);

    @include breakpoint(tablet) {
        right:20px;
        width:13px;
        height:12px;
    }
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border:0px;
    transform-origin:center;
    background:url(select-arrow-down.svg) center no-repeat;
    background-size:cover;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    margin:0px;
    

}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border:0px;
    //transform:rotate(-180deg);
    background:url(select-arrow-up.svg) center no-repeat;
    background-size:cover;
}

section.section-versus .select2-container--default .select2-selection--single:active .select2-selection__arrow b, 
section.section-versus .select2-container--default .select2-selection--single:focus .select2-selection__arrow b {
    background:url(select-arrow-up.svg) center no-repeat;
    transform:rotate(180deg);
}

.select2-dropdown {
    border-radius:30px;
    border-color:#E3E3E3;
}

.select2-container--default .select2-results__option--selectable {
    background:transparent !important;
    color:$dark_blue;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background:transparent !important;
    color:$medium_blue;
}
.select2-container--default .select2-results__option--highlighted {
    background:transparent !important;
    color:$medium_blue;
}
.select2-container--default .select2-results__option--selected {
    background:transparent !important;
    color:$medium_blue;
}

.versus-choices-blocks {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:30px;

    @include breakpoint(tablet){
        margin-top:80px;
    }

    .versus-choice-column {
        width:45%;
        display:flex;
        
        .vs-info-box {
            width:100%;
            display:none;
            opacity:0;
            transform:translate(0%, -50%);
            transition:all .3s ease 0s;
            
            flex-wrap:wrap;
            align-items:center;


            &.active {
                transform:translate(0%, 0%);
                display:flex;
                opacity:1;
            }

            img {
                max-width:28%;
                max-height: 200px;
                height:auto;
                width:auto;
                margin:0px auto;
            }
            .vs-info-box-content {
                width:60%;

                h3 {
                    font-size:20px;
                    text-transform:uppercase;
                    margin:0px 0px 8px 0px;
                    line-height:1.2em;

                    @include breakpoint(tablet) {
                        font-size:28px;
                    }
                }
            }
            @include breakpoint(tablet) {

                display:none;
                text-align:left;
                img {
                    max-height: 220px;
                }
                &.active {
                    display:flex;
                }
            }
            @include breakpoint(laptop) {
                max-height: 266px;
            }
        }
    }
}

