.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue,
.light_blue {
  color: #0094DA;
}

.medium-blue,
.medium_blue {
  color: #0040A8;
}

.dark-blue,
.dark_blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
.home-audio-player {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 10;
  right: 100%;
  bottom: 15%;
  height: 69px;
  width: 108px;
  background: #ffffff;
  border: 1px solid #C8C8C8;
  border-radius: 18px;
  padding: 10px 32px 13px 29px;
  transform: translate(88px, 0px);
}
@media (min-width: 768px) {
  .home-audio-player {
    height: 80px;
    width: 228px;
    transform: translate(208px, 0px);
    padding: 23px 36px 23px 50px;
  }
}
.home-audio-player.closed {
  transform: translate(30px, 0px);
}
.home-audio-player.closed button#close-player {
  transform: rotate(45deg);
}
.home-audio-player p {
  color: #C8C8C8;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2em;
  margin: 0px;
  padding: 0px 0px 0px 12px;
  display: none;
  flex-grow: 1;
  width: 86px;
}
@media (min-width: 768px) {
  .home-audio-player p {
    display: block;
  }
}
.home-audio-player button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  display: block;
  position: relative;
  border: 0px;
  font-size: 0px;
}
.home-audio-player button.play-audio {
  aspect-ratio: 49/46;
  width: 38px;
  height: auto;
}
@media (min-width: 768px) {
  .home-audio-player button.play-audio {
    width: 36.75px;
  }
}
.home-audio-player button img {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.home-audio-player.off button img.on {
  opacity: 0;
}
.home-audio-player.off button img.off {
  opacity: 1;
}
.home-audio-player.on button img.on {
  opacity: 1;
}
.home-audio-player.on button img.off {
  opacity: 0;
}
.home-audio-player.dark {
  background: #000F44;
  border: 1px solid #000F44;
}
.home-audio-player.dark p {
  color: #0040A8;
}
.home-audio-player.dark button img.off,
.home-audio-player.dark button img.close-x {
  filter: contrast(0) sepia(100%) hue-rotate(162deg) brightness(0.34) saturate(10);
}
.home-audio-player button#close-player {
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .home-audio-player button#close-player {
    width: 8px;
    height: 8px;
  }
}