// Messaging Banner //
@import "variables";
@import "mixins";
@import "fonts";

.home-messaging-banner {
    width:100vw;
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:center;
    padding-top:8vh;
    padding-bottom:52vh;

    @include breakpoint(tablet) {
        padding-bottom:0px;
        padding-top:20%;
        min-height:60vh;
    }
    @include breakpoint(tabletwide) {
        min-height:100vh;
    }
    .bg-img {
        top:auto;
        bottom:0px;
    }

    .bg {
        width:100%;
        min-height:0px;
        height:auto;
        object-position: bottom right;
        object-fit:contain;

        @include breakpoint(tablet) {
            width:80%;
            object-fit:cover;
        }
    }
    
    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        width:1400px;
    

        @include breakpoint(tablet) {
            justify-content:flex-end;
        }

        .banner-content {
            width:100%;
            padding:0px 20px;

            @include breakpoint(tablet) {
                width:42%;
                padding:0px;
            }
            @include breakpoint(laptop) {
                width:34%;
                padding:0px;
            }

            h2 {
                line-height:1em;
                text-transform:uppercase;
                margin:0px 0px .5em 0px;
                font-weight:900;

                @include font-size(medium);

                span {
                    position:relative;
                    display:inline-block;
                    //vertical-align: baseline;
                }
            }
        }
    }
}