@import "variables";
@import "mixins";
@import "fonts";

section.section-product-info-box-drops {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    overflow:hidden;
    align-items:stretch;
    padding:60px 0px 0px 0px;

    @include breakpoint(tablet) {
        padding:123px 0px 0px 0px;
    }

    header {
        width:100%;
        text-align:center;
        color:$white;
        position:relative;
        z-index:4;

        

        h2 {
            color:$white;
            margin:0px;
            font-size:37px;

            @include breakpoint(tablet) {
                font-size:75px;
            }
        }
        p {
            color:$light_blue;
            font-weight:900;
            text-transform: uppercase;
            font-size:14px;
            margin:0px auto;

            @include breakpoint(tablet) {
                font-size:18.75px;
            }
        }
    }
    .product-info-col {
        width:100%;
        text-align:center;
        background:$dark_blue;
        position:relative;
        z-index:1;
        padding:0px 50px 60px 50px;
        display:flex;
        flex-direction: column;
        align-items:center;

        @include breakpoint(tablet) {
            padding:0px 4vw 60px 4vw;
        }

        &::before {
            content:"";
            display:block;
            position:absolute;
            bottom:100%;
            left:0px;
            width:100%;
            height:100%;
            background-color:inherit;
            z-index:1;
        }
        

        .produt-col-img {
            margin-top:auto;
            width:100%;
            display:flex;
            align-items:flex-end;
            align-content:flex-end;
            justify-content:center;

            img {
                max-width:33%;
                width:auto;
                height:auto;
            }
        }

        @include breakpoint(tablet) {
            width:50%;
        }
        h2 {
            color:$white;
            font-size:50px;
            line-height:1em;
            margin:0px auto;

            span {
                font-size:39px;
                font-weight:normal;
                display:block;
                line-height:.9em;

                &.rainwater {
                    font-size:45px;
                }
            }

            @include breakpoint(tablet) {

                span {
                    font-size:106px;

                    &.rainwater {
                        font-size:8.5vw;
                    }
                }
                
            }
            @include breakpoint(desktopwide) {

                span {
                    font-size:106px;

                    &.rainwater {
                        font-size:122px;
                    }
                }
                
            }
        }

        &.product-info-col-1 {
            background:$dark_blue;
        }
        &.product-info-col-2 {
            background:$medium_blue;
        }
    }

    .info-drop {

        display:inline-flex;
        justify-content: center;
        flex-wrap:wrap;
        width:100px;
        position:absolute;
        transform:scale(.8);
        transition:all .3s $easeInOutCirc 0s;
        cursor:pointer;

        &.info-drop-1 {
            left:18%;
            top:6.7%;
        }
        &.info-drop-2 {
            right:13.8%;
            top:30%;
        }
        &.info-drop-3 {
            left:16.5%;
            top:50%;
        }
        
        @include breakpoint(tablet) {
            width:120px;
        }

        a.drop-clickme {
            display:block;
            width:40%;
            cursor:pointer;

            @include breakpoint(tablet) {
                width:50%;
            }

            svg {
                width:100%;
            }

            transition: all .4s ease 0s;
        }

        p {
            color:$white;
            text-align:center;
            margin:0px 0px 0px 0px;
            font-size:15px;
            font-weight:bold;
            width:100%;
            opacity:0;
            display:block;
            position:absolute;
            top:100%;
            left:0px;
            transform:translateY(-5px);
            transition: all .3s $easeInOutBack 0s;
        }

        &.open {
            transform:scale(1);

            p {
                transform:translateY(0px);
                opacity:1;
            }
            
        }
    }
}