@import "variables";
@import "mixins";
@import "fonts";

.locator-slider-wrap {
    background:#ebebeb;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    margin-bottom:0px;

    @include breakpoint(tablet) {
        padding:40px 60px;
    }
    @include breakpoint(laptop) {
        padding:40px 100px;
    }
}

.section-locator-w-slider {
    width: 1312px;
    max-width: 100%;
    padding:20px 0px;
    margin: 40px auto;
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {
        padding:40px;
    }

    h2 {
        width:100%;
        text-align:center;
        margin:0px;
        text-transform:uppercase;
        font-size:20px;

        @include breakpoint(tablet) {
            width:50%;
            text-align:left;
            font-size:30px;
        }
    }

    .logo-slider {
        color:#ebebeb;
        padding:20px;
        margin:0px 0px 0px 0px;

        &::before {
            background: rgb(235,235,235);
            background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(235,235,235,0) 100%);
        }
        &::after {
            background: rgb(235,235,235);
            background: linear-gradient(90deg, rgba(235,235,235,0) 0%, rgba(235,235,235,1) 100%);
        }

        img {
            max-height:26px;
            @include breakpoint(tablet) {
                max-height:34px;
                margin:0px 20px;
            }
        }

    }
    
    form + .logo-slider {
        margin-top:20px;
    }

    
}

.newsletter-form.store-locator-form {
    width:100%;

    @include breakpoint(tablet) {
        width:50%;
    }

    .field {
        z-index: 0;
        border-radius: 50px;
        overflow: hidden;

        &::after {
            border:0px;
        }
    }
    .button {
        position:absolute;
        top:0px;
        right:0px;
        height:100%;
        border-radius:0px;
        background:url('bg-rainbow-button.svg') top left no-repeat;
        background-size:cover;
        width:30%;
        transition:all .3s ease 0s;
        
        span {
            position: relative;
            z-index:2;
        }

        &::after {
            content:"";
            display:block;
            width:120%;
            height:100%;
            position:absolute;
            z-index:1;
            background:$medium_blue;
            top:0px;
            left:105%;
            transform:skewX(30deg);
            transition:all .3s $easeInOutBack 0s;
            
        }

        &:hover {
            &::after {
                left:0px;
                transform:skewX(0);
            }
        }

    }

   
}

// ---- Hide titles on specific products ----- *//

