@import "variables";
@import "mixins";
@import "fonts";

.section-logo-slider {
    text-align:center;
    margin-top:60px;
    margin-bottom:60px;

    a {
        cursor:pointer;
    }

    
    @include breakpoint(tablet) {
        margin-top:100px;
        margin-bottom:100px;
    }
}
.logo-slider {
    padding:45px 0px 55px 0px;
    width:100%;
    

    

    img {
        max-height:104px;
        max-width:256px;
        margin:0px 20px;
        height:auto;
    }
}