// Messaging Banner //
@import "variables";
@import "mixins";
@import "fonts";

.home-messaging-banner {
    width:100vw;
    min-height:100vh;
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:center;
    padding-top:20%;

    .bg {
        object-position: center;
        width:80%;
    }
    
    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    

        @include breakpoint(tabletwide) {
            justify-content:flex-end;
        }

        .banner-content {
            width:100%;

            @include breakpoint(tablet) {
                width:38%;
            }

            h2 {
                font-size:40px;
                line-height:1em;
                text-transform:uppercase;
                margin:0px 0px 12px 0px;
                font-weight:900;

                @include breakpoint(tabletwide) {
                    font-size:74px;

                }

                span {
                    position:relative;
                    display:inline-block;
                    //vertical-align: baseline;
                }
            }
        }
    }
}