@import "variables";
@import "mixins";
@import "fonts";

.related-products {
    display: block;
    margin:60px 0px;
  }
  
  .related-products__heading {
    text-align:center;
    color:$light_blue;
    margin:0px 0px 2em 0px;
  }
  