@import "variables";
@import "mixins";
@import "fonts";


ul.model-blocks{
    margin:0px;
    padding:0px;
    display:flex;
    flex-wrap:wrap;
    width:100%;

    li {
        display:flex;
        width:100%;
        flex-wrap:wrap;
        justify-content:space-between;

        img {
            width:100%;

            @include breakpoint(tablet) {
                width:50%;
                order:1;
            }
        }

        .model-block-content {
            width:100%;

            @include breakpoint(tablet) {
                width:50%;
                order:2;
            }
        }

        &:nth-child(even) {
            @include breakpoint(tablet) {
                img {
                    order:2;
                }
                .model-block-content {
                    order:1;
                }
            }
        }
    }
}