@import "variables";
@import "mixins";
@import "fonts";

section.our-impact {
    
    .inner {
        text-align:center;
    }

    h2 {
        margin-bottom:10px;
        position:relative;
        font-size:36px;
        line-height:1em;
        padding-bottom:40px;
        text-align:left;

        &::after {
        content:"";
        display:block;
        position:absolute;
        bottom:0px;
        left:0px;
        width:100%;
        height:15px;
        background:url('bg-rainbow-divider.svg') left center no-repeat;
        background-size:100% auto;

            @include breakpoint(tablet) {
                height:25px;
            }
        }

        @include breakpoint(tablet) {
        margin-bottom:20px;
        font-size:82px;
        }
    }

    .impact-items {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        margin:40px 0px 40px 0px;

        @include breakpoint(tablet) {
            margin:80px 0px 100px 0px;
        }

        .impact-item {
            width:100%;
            text-align:center;
            margin:0px 0px 30px 0px;

            h3 {
                margin:10px 0px 15px 0px;
                line-height:1em;
                font-weight:900;
                color:$dark_blue;
                font-size:25px;

                @include breakpoint(tablet) {
                    font-size:45px;
                }
            }
            p {
                width:80%;
                margin:0px auto;
                font-size:15px;
                font-weight:500;
                line-height:1.3em;

                @include breakpoint(tablet) {
                    font-size:22px;
                }
            }

            img {
                height:auto;
            }

            @include breakpoint(tablet) {
                width:30%;
            }
        }
    }
}