.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue,
.light_blue {
  color: #0094DA;
}

.medium-blue,
.medium_blue {
  color: #0040A8;
}

.dark-blue,
.dark_blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
.home-messaging-banner {
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;
  padding-bottom: 52vh;
}
@media (min-width: 1024px) {
  .home-messaging-banner {
    padding-bottom: 0px;
    padding-top: 20%;
    min-height: 100vh;
  }
}
.home-messaging-banner .bg-img {
  top: auto;
  bottom: 0px;
}
.home-messaging-banner .bg {
  width: 100%;
  min-height: 0px;
  height: auto;
  -o-object-position: bottom center;
     object-position: bottom center;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1024px) {
  .home-messaging-banner .bg {
    width: 80%;
  }
}
.home-messaging-banner .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 1400px;
}
@media (min-width: 1024px) {
  .home-messaging-banner .inner {
    justify-content: flex-end;
  }
}
.home-messaging-banner .inner .banner-content {
  width: 100%;
}
@media (min-width: 768px) {
  .home-messaging-banner .inner .banner-content {
    width: 34%;
  }
}
.home-messaging-banner .inner .banner-content h2 {
  line-height: 1em;
  text-transform: uppercase;
  margin: 0px 0px 0.5em 0px;
  font-weight: 900;
  font-size: 42px;
}
@media (min-width: 768px) {
  .home-messaging-banner .inner .banner-content h2 {
    font-size: 4.8vw;
  }
}
@media (min-width: 1280px) {
  .home-messaging-banner .inner .banner-content h2 {
    font-size: 4.8vw;
  }
}
@media (min-width: 1680px) {
  .home-messaging-banner .inner .banner-content h2 {
    font-size: 75px;
  }
}
.home-messaging-banner .inner .banner-content h2 span {
  position: relative;
  display: inline-block;
}