@import "variables";
@import "mixins";
@import "fonts";

section.rainbow-banner {
    width:100vw;
    min-height:50vh;
    position:relative;
    overflow:hidden;
    padding:23vw 0px 30vw 0px;

    @include breakpoint(tablet) {
        padding:9vw 0px 16vw 0px;
    }

    h2 {
        color:$white;
        text-align:left;
        font-size:35px;
        line-height:1.1em;
        margin:0px;

        @include breakpoint(tablet) {
            font-size:6.2vw;
        }
        @include breakpoint(desktopwide) {
            font-size:89px;
        }
    }

    .inner {
        &.center {
            h2 {
                text-align:center;
                margin-bottom:18px;

                @include breakpoint(tablet) {
                    margin-bottom:40px;
                }
            }
        }
    }
}