.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue,
.light_blue {
  color: #0094DA;
}

.medium-blue,
.medium_blue {
  color: #0040A8;
}

.dark-blue,
.dark_blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/*-----------------------
EASING 
---------------------- */
/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: visible;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.blog-list-slider .slick-track {
  align-items: flex-start;
}

.slick-slide {
  float: none;
  height: auto;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  height: 100%;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-initialized .slick-slide.blog-list-item {
  display: flex;
  text-align: left;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 10px;
  width: 54px;
  min-width: 0px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  z-index: 10;
  bottom: -40px;
  left: 50%;
  padding: 0;
  border: none;
  outline: none;
  background: url("arrow.svg") right center no-repeat;
  background-size: cover;
  transition: opacity 0.3s ease 0s;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0.5;
}
.slick-prev:hover,
.slick-next:hover {
  background: url("arrow.svg") right center no-repeat;
  background-size: cover;
  border: 0px;
}
.slick-prev:focus, .slick-prev:active,
.slick-next:focus,
.slick-next:active {
  background: url("arrow.svg") right center no-repeat;
  background-size: cover;
}

.gallery-slider .slick-track {
  align-items: flex-start;
}
.gallery-slider .gallery-slide {
  width: auto;
  padding-right: 18px;
  height: auto;
  position: relative;
  opacity: 0.3;
  transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}
.gallery-slider .gallery-slide.slick-active {
  opacity: 1;
}
@media (min-width: 768px) {
  .gallery-slider .gallery-slide {
    padding-right: 32px;
  }
}
.gallery-slider p.gallery-caption {
  margin: 8px 0px 0px 0px;
  font-size: 12px;
  opacity: 0;
  transition: all 0.5s ease 0s;
  max-width: 90%;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
}
@media (min-width: 768px) {
  .gallery-slider p.gallery-caption {
    margin: 14px 0px 0px 0px;
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .gallery-slider p.gallery-caption {
    font-size: 14px;
    margin: 15px 0px 0px 0px;
  }
}
.gallery-slider .slick-active p.gallery-caption {
  opacity: 1;
}
.gallery-slider .gallery-img {
  width: 100%;
  display: block;
  height: 200px;
  max-height: 75%;
}
.gallery-slider .gallery-img img {
  height: 100%;
  width: auto;
}
@media (min-width: 768px) {
  .gallery-slider .gallery-img {
    height: 484px;
  }
}
.gallery-slider .slick-prev,
.gallery-slider .slick-next {
  position: absolute;
  display: block;
  height: 43px;
  width: 43px;
  min-width: 0px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  z-index: 10;
  top: -53px;
  left: auto;
  right: 88px;
  padding: 0;
  border: none;
  outline: none;
  background: url("arrow.svg") right center no-repeat;
  background-size: cover;
  transition: scale 0.3s ease 0s;
}
.gallery-slider .slick-prev.slick-disabled,
.gallery-slider .slick-next.slick-disabled {
  opacity: 0.5;
}
.gallery-slider .slick-prev:hover,
.gallery-slider .slick-next:hover {
  background: url("arrow.svg") right center no-repeat;
  background-size: cover;
  border: 0px;
}
.gallery-slider .slick-prev:focus, .gallery-slider .slick-prev:active,
.gallery-slider .slick-next:focus,
.gallery-slider .slick-next:active {
  background: url("arrow.svg") right center no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .gallery-slider .slick-prev,
  .gallery-slider .slick-next {
    width: 43px;
    height: 43px;
    top: -70px;
    left: auto;
    right: 88px;
  }
}
@media (min-width: 1024px) {
  .gallery-slider .slick-prev,
  .gallery-slider .slick-next {
    width: 50vw;
    height: 100%;
    top: 0px;
    background: none !important;
    cursor: url("arrow.svg") 21.5 21.5, pointer;
  }
}
.gallery-slider .slick-prev {
  right: 140px;
}
@media (min-width: 768px) {
  .gallery-slider .slick-prev {
    right: 160px;
  }
}
@media (min-width: 1024px) {
  .gallery-slider .slick-prev {
    left: 0px;
    right: auto;
    cursor: url("arrow-left.svg") 21.5 21.5, pointer;
  }
}
@media (min-width: 1024px) {
  .gallery-slider .slick-next {
    right: 0px;
  }
}

#blog-list-slider.slick-slider {
  width: calc(100vw - 28px);
  margin-left: 28px !important;
  overflow: visible;
}
@media (min-width: 768px) {
  #blog-list-slider.slick-slider {
    width: 91vw;
    margin-left: 9vw !important;
  }
}
#blog-list-slider li.blog-list-item {
  margin-right: 22px;
  width: 79vw;
}
@media (min-width: 768px) {
  #blog-list-slider li.blog-list-item {
    margin-right: 52px;
    width: 515px;
  }
}
#blog-list-slider .slick-prev,
#blog-list-slider .slick-next {
  background: url("arrow.svg") right center no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  top: auto;
  bottom: 0px;
  display: inline-block;
}
#blog-list-slider .slick-prev {
  left: auto;
  right: 88px;
  margin: 0px;
  transform: rotate(-180deg) !important;
}
#blog-list-slider .slick-next {
  left: auto;
  margin: 0px 0px 0px 0px;
  right: 30px;
}
@media (min-width: 768px) {
  #blog-list-slider .slick-prev,
  #blog-list-slider .slick-next {
    top: 0px;
    bottom: auto;
  }
  #blog-list-slider .slick-prev {
    left: 0px;
    right: auto;
    transform: translateY(-200%) rotate(-180deg) !important;
  }
  #blog-list-slider .slick-next {
    left: 58px;
    right: auto;
    transform: translateY(-200%) !important;
  }
}

#staff-list-slider.slick-slider {
  width: 100%;
  margin-left: 0px;
  overflow: visible;
  align-items: flex-start;
}
#staff-list-slider .slick-track {
  align-items: flex-start;
}
#staff-list-slider .slick-prev,
#staff-list-slider .slick-next {
  background: url("arrow.svg") right center no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  top: auto;
  bottom: 0px;
  display: inline-block;
}
#staff-list-slider .slick-prev {
  left: auto;
  right: 88px;
  margin: 0px;
  transform: rotate(-180deg) !important;
}
#staff-list-slider .slick-next {
  left: auto;
  margin: 0px 0px 0px 0px;
  right: 30px;
}
@media (min-width: 768px) {
  #staff-list-slider .slick-prev,
  #staff-list-slider .slick-next {
    top: 0px;
    bottom: auto;
  }
  #staff-list-slider .slick-prev {
    left: 0px;
    right: auto;
    transform: translateY(-200%) rotate(-180deg) !important;
  }
  #staff-list-slider .slick-next {
    left: 58px;
    right: auto;
    transform: translateY(-200%) !important;
  }
}

#testimonials-slider .slick-prev,
#testimonials-slider .slick-next {
  height: 10px;
  width: 54px;
  background-image: url("arrow-blue.svg");
  background-size: cover;
  bottom: 0px;
}
#testimonials-slider .slick-prev {
  left: 50%;
  right: auto;
  margin: 0px 0px 0px -60px;
}
#testimonials-slider .slick-next {
  left: auto;
  margin: 0px -60px 0px 0px;
  right: 50%;
}
@media (min-width: 768px) {
  #testimonials-slider .slick-prev {
    left: 56px;
    right: auto;
    margin: 0px;
  }
  #testimonials-slider .slick-next {
    left: auto;
    margin: 0px;
    right: 56px;
  }
}

.slick-prev {
  transform: rotate(180deg);
}
.slick-prev:focus, .slick-prev:active {
  transform: rotate(180deg);
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  top: 0px;
  left: 0px;
  list-style: none;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  padding: 0;
  margin: 0;
  width: auto;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 11px;
  width: 11px;
  margin: 0 10px 0px 0px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 11px;
  width: 11px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #FFA500;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li.slick-active button {
  background: #FFA500;
}

/* ------- Logo Slider ------- */
.logo-slider {
  padding: 45px 0px 55px 0px;
  overflow: hidden;
  width: 100%;
  position: relative;
  color: #ffffff;
}
.logo-slider::before {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18vw;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.logo-slider::after {
  content: "";
  z-index: 2;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18vw;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
.logo-slider img {
  max-height: 32px;
  max-width: 256px;
  margin: 0px 10px;
  height: auto;
  width: auto;
}
@media (min-width: 768px) {
  .logo-slider img {
    max-height: 54px;
    max-width: 196px;
    margin: 0px 30px;
  }
}

/* ------ Cloud Scrolling ----- */
.clouds {
  overflow: hidden;
  position: relative;
  width: 200vw;
  height: 56px;
  height: auto;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.clouds.scrubme {
  height: 56px;
}
@media (min-width: 768px) {
  .clouds.scrubme {
    height: 144px;
  }
}
@media (min-width: 768px) {
  .clouds {
    width: 100vw;
  }
}
.clouds .scroll-parent {
  position: absolute;
  display: block;
  overflow-x: hidden;
  top: 0px;
  left: 0px;
  min-width: 100%;
  height: 100%;
  aspect-ratio: 512/56;
}
.clouds .scroll-element {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  left: 0%;
  top: 0%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.clouds .scroll-element img {
  position: absolute;
  width: 101%;
  max-width: 101%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.clouds .primary {
  animation: primary 10s linear infinite;
}
.clouds .primary.slow {
  animation: primary 20s linear infinite;
}
.clouds .primary.bg {
  top: 50%;
}
.clouds .secondary {
  animation: secondary 10s linear infinite;
  left: 100%;
}
.clouds .secondary.slow {
  animation: secondary 20s linear infinite;
}
.clouds .secondary.bg {
  top: 50%;
}
.clouds .scrub {
  height: 100%;
  animation: none;
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat-x;
  width: 200%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.clouds.clouds-mobile {
  width: 100vw;
  aspect-ratio: 512/56;
}
.clouds.clouds-mobile .scroll-parent {
  aspect-ratio: 512/56;
}
.clouds.bottom {
  position: absolute;
  left: 0px;
  bottom: -1px;
}
.clouds.top {
  position: absolute;
  left: 0px;
  top: -1px;
}
@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

/* -------- GSAP Animate Elements ------- */
.animate {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.slide-title {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.slide-title.onscreen {
  opacity: 1;
  transform: translateX(0px);
}

.slide-in-up {
  transform: translateY(100%);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.slide-in-up.onscreen {
  opacity: 1;
  transform: translateY(0px);
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in.onscreen {
  opacity: 1;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in-left.onscreen {
  opacity: 1;
  transform: translateX(0px);
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in-right.onscreen {
  opacity: 1;
  transform: translateX(0px);
}

.fade-in-up,
.big-title {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in-up.onscreen,
.big-title.onscreen {
  opacity: 1;
  transform: translateY(0px);
}

.fade-in-down {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in-down.onscreen {
  opacity: 1;
  transform: translateY(0px);
}

/*svg * { 
  transform-box: fill-box;
}*/
.bounce-in-top {
  opacity: 0;
  transform: scale(0);
}

.bounce-in {
  transform-origin: center center;
  opacity: 0;
  /*
  &.onscreen {
    opacity:1;
    animation: bounce-in 1s ease forwards;
  }
  */
}

@keyframes bounce-in {
  0% {
    scale: 0.3;
  }
  50% {
    scale: 1.05;
  }
  70% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}

.float {
  position: absolute;
  display: block;
  pointer-events: none;
}
.float img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  min-height: 100%;
  width: 100%;
  display: block;
}

@keyframes hover-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.hover-up {
  animation: hover-up 4s ease-in-out infinite;
}

@keyframes hover-side {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
.hover-side {
  animation: hover-side 4s ease-in-out infinite;
}

@keyframes hover-rotate {
  0% {
    transform: rotate(0px);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hover-rotate {
  animation: hover-rotate 4s ease-in-out infinite;
}

@keyframes hover-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.hover-scale {
  animation: hover-scale 4s ease-in-out infinite;
}

/* trans */
.transition {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transition .trans-pane {
  flex: 1;
  width: 100%;
  transform: translateX(-100%);
  background: #ffffff;
  position: relative;
  z-index: 10000;
}

/* --------- Mobile Menu Toggle ------- */
#menu-toggle {
  width: 30px;
  height: 30px;
  margin: 0px;
  z-index: 2;
  position: relative;
  display: block;
  border: 0px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 0px;
  cursor: pointer;
}
@media (min-width: 990px) {
  #menu-toggle {
    display: none;
  }
}
#menu-toggle .icon-hamburger {
  display: block;
}
#menu-toggle .icon-close {
  display: none;
}
#menu-toggle.open .icon-hamburger {
  display: none;
}
#menu-toggle.open .icon-close {
  display: block;
}

/* ----- General Header Icons ------ */
/* Header icons */
.header__icons {
  display: flex;
  grid-area: icons;
  justify-self: end;
  position: relative;
  z-index: 5;
}

.header__icons .shopify-app-block {
  max-width: 4.4rem;
  max-height: 4.4rem;
  overflow: hidden;
}

.header__icon:not(.header__icon--summary),
.header__icon span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  color: rgb(var(--color-foreground));
}

.header__icon span {
  height: 100%;
  position: relative;
  z-index: 5;
}

.header__icon::after {
  content: none;
}

.header__icon:hover .icon,
.modal__close-button:hover .icon {
  transform: scale(1);
}

.header__icon .icon {
  height: 30px;
  width: 30px;
  fill: none;
  vertical-align: middle;
}
.header__icon .icon.icon-hamburger {
  fill: currentColor;
  width: 25px;
  height: 21px;
}
.header__icon .icon.icon-close {
  fill: currentColor;
  width: 17px;
  height: 17px;
}

.header__icon,
.header__icon--cart .icon {
  width: 25px;
  height: 23px;
  padding: 0;
}
@media (min-width: 768px) {
  .header__icon,
  .header__icon--cart .icon {
    width: 38px;
    height: 34px;
  }
}

@media (min-width: 768px) {
  .header__icon.link {
    margin-left: 24px;
  }
}

.header__icon--cart {
  position: relative;
}

.header__icon--menu[aria-expanded=true]::before {
  content: "";
  top: 100%;
  left: 0;
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  width: 100%;
  display: block;
  position: absolute;
  background: rgba(var(--color-foreground), 0.5);
}

/* ------ General Section Header -------- */
.section-header {
  padding: 0px;
  width: 100%;
}
.section-header .site-header {
  padding: 20px 28px 20px 28px;
  height: auto;
  position: fixed;
  display: flex;
  left: 0;
  top: 30px;
  width: 100vw;
  z-index: 7;
  transition: all 0.25s ease;
}
.section-header .site-header:not(.home-header) {
  background-color: #ffffff;
  border-bottom: 1px solid #C3C3C3;
}
@media (min-width: 768px) {
  .section-header .site-header {
    padding: 22px 36px;
    top: 40px;
  }
}
@media (min-width: 1280px) {
  .section-header .site-header {
    padding: 22px 58px;
  }
}
.section-header .site-header.home-header {
  color: #ffffff;
}
.section-header .site-header.home-header .header__heading,
.section-header .site-header.home-header .header__heading-link {
  color: #ffffff;
}
.section-header .site-header.home-header .header__menu-item {
  color: #ffffff;
  background-image: linear-gradient(to right, #000F44, #000F44 50%, #ffffff 50%);
}
.section-header .site-header.home-header .header__icon.link {
  color: #ffffff;
}
.section-header .site-header.scrolling {
  position: fixed;
  top: 0px;
  background: #ffffff;
  color: #000F44;
  border-bottom: 1px solid #C3C3C3;
}
.section-header .site-header.scrolling .header__heading,
.section-header .site-header.scrolling .header__heading-link {
  color: #000F44;
}
.section-header .site-header.scrolling .header__menu-item {
  color: #000F44;
  background-image: linear-gradient(to right, #0094DA, #0094DA 50%, #00142A 50%);
}
.section-header .site-header.scrolling .header__icon.link {
  color: #000F44;
}
.section-header .site-header.open {
  position: fixed;
  top: 0px;
  background: transparent;
  color: #ffffff !important;
}
.section-header .site-header.open .header__heading,
.section-header .site-header.open .header__heading-link {
  color: #ffffff;
}
.section-header .site-header.open .header__menu-item {
  color: #ffffff;
  background-image: linear-gradient(to right, #0094DA, #0094DA 50%, #00142A 50%);
}
.section-header .site-header.open .header__icon.link {
  color: #ffffff;
}

.header-inner {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: auto;
  padding: 0px;
  width: 100%;
  position: relative;
  z-index: 1000;
  transition: background-color 0.3s ease 0s;
}
@media (min-width: 1280px) {
  .header-inner {
    height: auto;
  }
}

#nav-wrapper {
  position: fixed;
  order: 2;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  pointer-events: none;
  padding-top: 15vh;
  z-index: 5;
  overflow-y: scroll;
  transform: translateY(-100%);
  -webkit-overflow-scrolling: touch;
  background-color: #0040A8;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  transition: all 0.6s ease 0s;
}
#nav-wrapper.open {
  pointer-events: auto;
  opacity: 1;
  min-height: 100vh;
  overflow-y: scroll;
  transform: translateY(0%);
  transition-delay: 0s;
  background-color: #000F44;
}
#nav-wrapper.open form.search-form {
  opacity: 1;
  transition: opacity 0.5s ease 0.25s;
}

.shopify-section-group-footer-group {
  z-index: 1;
  position: relative;
}

section.newsletter-cloud {
  z-index: 4;
}

.footer-wrap.wide {
  padding: 0px 30px;
}
@media (min-width: 768px) {
  .footer-wrap.wide {
    padding: 0px 40px;
  }
}

.footer {
  background: #000F44;
  color: #ffffff;
  padding: 120px 0px 32px 0px;
}
@media (min-width: 768px) {
  .footer {
    padding: 87px 0px 54px 0px;
  }
}
.footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
}
.footer .footer-top .footer-top-left {
  width: 60%;
}
@media (min-width: 768px) {
  .footer .footer-top .footer-top-left {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .footer .footer-top .footer-top-left {
    padding-right: 14%;
  }
}
.footer .footer-top .footer-top-right {
  width: 32%;
}
@media (min-width: 768px) {
  .footer .footer-top .footer-top-right {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .footer .footer-top .footer-top-right {
    width: auto;
    margin-right: 14vw;
  }
}
@media (min-width: 1680px) {
  .footer .footer-top .footer-top-right {
    margin-right: 0px;
  }
}
.footer .footer-top h2.footer-messaging {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0px;
  font-size: 28px;
  line-height: 1.3em;
  letter-spacing: 1px;
  white-space: nowrap;
  text-align: center;
}
.footer .footer-top h2.footer-messaging span {
  display: inline-block;
  vertical-align: baseline;
}
.footer .footer-top h2.footer-messaging span sub {
  font-weight: 400;
  font-size: 50%;
  line-height: 0px;
}
@media (min-width: 768px) {
  .footer .footer-top h2.footer-messaging {
    font-size: 54px;
    text-align: left;
  }
}
.footer .footer-top ul.footer-menu {
  margin: 0px;
  list-style: none;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer .footer-top ul.footer-menu {
    padding: 0px 0px 0px 30px;
    display: block;
  }
}
.footer .footer-top ul.footer-menu li {
  display: block;
  width: 100%;
  list-style: none;
  line-height: 1.25em;
  margin-bottom: 1.1em;
}
.footer .footer-top ul.footer-menu li a {
  color: #ffffff;
  font-weight: 900;
  font-size: 13px;
  line-height: 1em;
  text-decoration: none;
  position: relative;
  background-image: linear-gradient(to right, #0094DA, #0094DA 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s 0s ease-in-out;
}
@media (min-width: 768px) {
  .footer .footer-top ul.footer-menu li a {
    font-size: 22px;
  }
}
.footer .footer-top ul.footer-menu li a:hover {
  background-position: 0;
}
@media (min-width: 768px) {
  .footer .footer-top ul.footer-menu li {
    margin-bottom: 28px;
  }
}
.footer .footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #0094DA;
  padding: 34px 0px 0px 0px;
  margin-top: 4px;
}
@media (min-width: 768px) {
  .footer .footer-bottom {
    padding-top: 42px;
    margin-top: 42px;
    justify-content: space-between;
  }
}
.footer .footer-logo {
  display: block;
  width: 250px;
  color: #ffffff;
}
.footer .footer-logo svg {
  width: 100%;
  pointer-events: none;
}
@media (min-width: 768px) {
  .footer .footer-logo {
    width: 230px;
  }
}

.terms-policies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .terms-policies {
    justify-content: flex-end;
  }
}
.terms-policies a {
  color: #ffffff;
  text-decoration: none;
}
.terms-policies a:hover {
  text-decoration: underline;
}
.terms-policies p {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0px;
  font-size: 11px;
  color: #ffffff;
  line-height: 1em;
  order: 2;
}
@media (min-width: 768px) {
  .terms-policies p {
    text-align: left;
    width: auto;
    order: 1;
  }
}
.terms-policies ul {
  display: inline-flex;
  margin: 20px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .terms-policies ul {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0px 20px 0px 0px;
  }
}
.terms-policies ul li {
  margin: 6px 10px;
  display: inline-block;
  font-size: 11px;
  line-height: 1em;
}
@media (min-width: 768px) {
  .terms-policies ul li {
    margin: 0px 0px 0px 22px;
  }
}
.terms-policies ul li a {
  color: currentColor;
}

.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .list-social {
    margin-top: 0px;
  }
}

.list-social__item .icon { /* //work */
  height: 1.8rem;
  width: 1.8rem;
  scale: 0.85;
}

.list-social__link {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  color: #000F44;
  aspect-ratio: 1/1;
  width: 29px;
  margin: 0px 4px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
@media (min-width: 768px) {
  .list-social__link {
    margin: 0px 8px 0px 0px;
  }
}
.list-social__link.facebook {
  background: #DE0000;
}
.list-social__link.instagram {
  background: #FC4A6A;
}
.list-social__link.twitter {
  background: #0094DA;
}
.list-social__link.tiktok {
  background: #FFA500;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

.bit-sticker {
  position: absolute;
  left: 40px;
  top: 40px;
  margin-top: 0px;
  z-index: 2;
  pointer-events: none;
  width: 65px;
  height: auto;
  display: block;
}
.bit-sticker svg {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 1280px) {
  .bit-sticker {
    width: 82px;
    margin-top: -46px;
  }
}
@media (min-width: 1280px) {
  .bit-sticker {
    width: 104px;
    right: 4vw;
    left: auto;
    margin-top: 40px;
  }
  .bit-sticker svg #top-letters path, .bit-sticker svg #top-letters rect {
    fill: #ffffff;
  }
}

/* -------- Star Randomizer ------- */
.stars {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
}

.star {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 25px;
}
@media (min-width: 1280px) {
  .star {
    width: 35px;
  }
}
@media (min-width: 1280px) {
  .star {
    width: 50px;
  }
}

/* ------ Drops ----- */
.drop.light .icon-drop {
  fill: #0094DA;
}
.drop.light .plus {
  fill: #0040A8;
}
.drop.medium .icon-drop {
  fill: #0040A8;
}
.drop.medium .plus {
  fill: #0094DA;
}
.drop.timeline-drop .icon-drop {
  fill: #bfbfbf;
}
.drop.timeline-drop .plus {
  fill: #ffffff;
}

.product__media-wrapper stars {
  z-index: 1;
}

.product-faqs {
  padding: 60px 0px;
}
@media (min-width: 768px) {
  .product-faqs {
    padding: 100px 0px;
  }
}
.product-faqs h2 {
  margin-bottom: 10px;
  position: relative;
  font-size: 36px;
  line-height: 1em;
  padding-bottom: 40px;
}
.product-faqs h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 15px;
  background: url("bg-rainbow-divider.svg") left center no-repeat;
  background-size: 100% auto;
}
@media (min-width: 768px) {
  .product-faqs h2::after {
    height: 25px;
  }
}
@media (min-width: 768px) {
  .product-faqs h2 {
    margin-bottom: 20px;
  }
}

.toggle-view {
  padding: 16px 2px 16px 2px;
  border-bottom: 2px solid #dddddd;
  margin: 0px;
}
@media (min-width: 768px) {
  .toggle-view {
    padding: 16px 10px 16px 10px;
  }
}
.toggle-view:nth-child(odd) .toggle-header h3::before {
  background-image: url(icon-drop-med-blue.svg);
}
.toggle-view .toggle-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-wrap: wrap;
}
.toggle-view .toggle-header h3 {
  color: #000F44;
  font-size: 17px;
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  margin: 0px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-transform: uppercase;
  position: relative;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .toggle-view .toggle-header h3 {
    font-size: 22px;
    width: 95%;
  }
}
.toggle-view .toggle-header h3::before {
  content: "";
  display: block;
  position: relative;
  margin-right: 12px;
  aspect-ratio: 20.32/28.57;
  width: 16px;
  height: auto;
  background-image: url(icon-drop-light-blue.svg);
  background-size: 100% 100%;
}
.toggle-view .toggle-header h3 span {
  width: calc(100% - 34px);
}
.faq-list .toggle-view .toggle-header h3 {
  color: #000F44;
  font-size: 17px;
  width: 92%;
  margin: 0px;
  letter-spacing: 0px;
  text-transform: none;
}
.toggle-view .toggle-header::after {
  content: "+";
  color: #6D6D6D;
  font-size: 28px;
  line-height: 1em;
  position: relative;
  right: 0px;
  top: 0px;
  font-weight: 400;
  transition: all 0.4s ease 0s;
}
.faq-list .toggle-view .toggle-header h3::after {
  display: block;
}
.toggle-view .panel {
  display: none;
  padding-top: 24px;
}
.toggle-view .panel p {
  font-size: 17px;
  font-weight: 400;
  color: #000F44;
  line-height: 1.5em;
  margin: 0px 0px 18px 0px;
}
.toggle-view .panel p:last-child {
  margin-bottom: 18px;
}
.toggle-view .panel img {
  width: 100%;
  height: auto;
  margin: 18px 0px;
}
.toggle-view .panel ul {
  margin-top: 0px;
}
.toggle-view.open .toggle-header:after {
  transform: rotate(45deg);
}

.newsletter__wrapper.mobile_nl_wrapper {
  text-align: center;
  padding: 69px 36px 120px 36px;
  background: #ffffff;
}
.newsletter__wrapper.mobile_nl_wrapper h2.newsletter-signup-heading {
  font-size: 35px;
  margin: 0px;
  color: #000F44;
  line-height: 1em;
}
.newsletter__wrapper.mobile_nl_wrapper .newsletter__subheading p {
  font-size: 20px;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}
.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 100%;
  margin: 0px 0px 34px 0px;
  text-align: center;
}
@media (min-width: 768px) {
  .newsletter__subheading {
    text-align: left;
    padding-left: 21px;
  }
}

.newsletter__subheading p {
  font-size: 17.25px;
  color: #000F44;
  font-weight: 600;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 100%;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
.mobile-menu-newsletter {
  width: 100vw;
  overflow: hidden;
}

.footer-newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 40px 40px 56px 40px;
  max-width: 100vw;
}
@media (min-width: 768px) {
  .footer-newsletter {
    padding: 60px 0px 120px 0px;
  }
}
.footer-newsletter .nl-cloud {
  position: relative;
  width: 60%;
  display: block;
  order: 2;
  z-index: 3;
}
.footer-newsletter .nl-cloud img {
  display: block;
  z-index: 2;
}
@media (min-width: 768px) {
  .footer-newsletter .nl-cloud {
    order: 1;
    width: 50%;
  }
}
.footer-newsletter .nl-cloud .stars {
  top: 90%;
  height: 50%;
  width: 90%;
  overflow: visible;
  z-index: -1;
}
@media (min-width: 1280px) {
  .footer-newsletter .nl-cloud .stars {
    width: 95%;
  }
}
.footer-newsletter .newsletter__wrapper {
  width: 100%;
  text-align: left;
  order: 1;
}
@media (min-width: 768px) {
  .footer-newsletter .newsletter__wrapper {
    width: 50%;
    order: 2;
  }
}
.footer-newsletter h2.newsletter-signup-heading {
  margin: 0px;
  color: #00142A;
  font-size: 37.5px;
  line-height: 1em;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-newsletter h2.newsletter-signup-heading {
    padding-left: 21px;
    text-align: left;
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    max-width: 100%;
  }
}
.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
  border-radius: 50px;
  overflow: hidden;
}
.newsletter-form__field-wrapper .field::after {
  border-radius: 50px;
  border-color: #707070;
}
.newsletter-form__field-wrapper .field:hover {
  border-radius: 50px;
}
.newsletter-form__field-wrapper .field:hover::after {
  border-radius: 50px;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}
.newsletter-form__button {
  width: auto;
  padding: 0px 23px;
  margin: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  background: #000F44;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 15px;
  transition: all 0.3s ease 0s;
}
.newsletter-form__button:hover {
  background: #0094DA;
}
@media (min-width: 768px) {
  .newsletter-form__button {
    padding: 0px 32px;
    font-size: 22px;
  }
}

.jdgm-rev {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.jdgm-rev .jdgm-rev__header {
  width: auto;
  order: 1;
}
.jdgm-rev .jdgm-rev__actions {
  width: auto;
  order: 2;
}
.jdgm-rev .jdgm-rev__content {
  width: 100%;
  order: 3;
  padding: 20px;
  background: #f4f4f4;
}
.jdgm-rev .jdgm-rev__content .jdgm-rev__title {
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 1280px) {
  .jdgm-rev .jdgm-rev__content .jdgm-rev__title {
    font-size: 22px;
  }
}