.red {
  color: #DE0000;
}

.orange {
  color: #FFA500;
}

.pink {
  color: #FC4A6A;
}

.light-blue {
  color: #0094DA;
}

.medium-blue {
  color: #0040A8;
}

.dark-blue {
  color: #000F44;
}

.black,
.darkest-blue {
  color: #00142A;
}

.white {
  color: #ffffff;
}

:root {
  --font-body-family: "TT Commons", sans-serif;
  --font-heading-family: "TT Commons", sans-serif;
}

/* ------ Font Includes ------ */
@font-face {
  font-family: "VadelmaLight";
  src: url("font_VadelmaLight.woff2") format("woff2"), url("font_VadelmaLight.woff2") format("woff");
}
@font-face {
  font-family: "ImperialURW";
  src: url("font_ImperialURWUltraBold.woff2") format("woff2"), url("font_ImperialURWUltraBold.woff2") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLight.woff2") format("woff2"), url("font_TTCommonsProExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraLightItalic.woff2") format("woff2"), url("font_TTCommonsProExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMedium.woff2") format("woff2"), url("font_TTCommonsProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProMediumItalic.woff2") format("woff2"), url("font_TTCommonsProMediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBold.woff2") format("woff2"), url("font_TTCommonsProDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProDemiBoldItalic.woff2") format("woff2"), url("font_TTCommonsProDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBold.woff2") format("woff2"), url("font_TTCommonsProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBoldItalic.woff2") format("woff2"), url("font_TTCommonsProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBold.woff2") format("woff2"), url("font_TTCommonsProExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProExtraBoldItalic.woff2") format("woff2"), url("font_TTCommonsProExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlack.woff2") format("woff2"), url("font_TTCommonsProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("font_TTCommonsProBlackItalic.woff2") format("woff2"), url("font_TTCommonsProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/*
@font-face {
  font-family: "TTCommonsProThin";
  src: url('font_TTCommonsProThin.woff2') format('woff2'), url('font_TTCommonsProThin.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProThinItalic";
  src: url('font_TTCommonsProThinItalic.woff2') format('woff2'), url('font_TTCommonsProThinItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProLight";
  src: url('font_TTCommonsProLight.woff2') format('woff2'), url('font_TTCommonsProLight.woff') format('woff');
} 
@font-face {
  font-family: "TTCommonsProLightItalic";
  src: url('font_TTCommonsProLightItalic.woff2') format('woff2'), url('font_TTCommonsProLightItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProRegular";
  src: url('font_TTCommonsProRegular.woff2') format('woff2'), url('font_TTCommonsProRegular.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProItalic";
  src: url('font_TTCommonsProItalic.woff2') format('woff2'), url('font_TTCommonsProItalic.woff') format('woff');
}

@font-face {
  font-family: "TTCommonsProNormal";
  src: url('font_TTCommonsProNormal.woff2') format('woff2'), url('font_TTCommonsProNormal.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProNormalItalic";
  src: url('font_TTCommonsProNormalItalic.woff2') format('woff2'), url('font_TTCommonsProNormalItalic.woff') format('woff');
}



@font-face {
  font-family: "TTCommonsProExtraBlack";
  src: url('font_TTCommonsProExtraBlack.woff2') format('woff2'), url('font_TTCommonsProExtraBlack.woff') format('woff');
}
@font-face {
  font-family: "TTCommonsProExtraBlackItalic";
  src: url('font_TTCommonsProExtraBlackItalic.woff2') format('woff2'), url('font_TTCommonsProExtraBlackItalic.woff') format('woff');
}

*/
/* ------ Cloud Scrolling ----- */
.clouds {
  overflow: hidden;
  position: relative;
}
.clouds .scroll-parent {
  position: relative;
  overflow-x: hidden;
}
.clouds .scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 10s linear infinite;
}
.clouds .primary {
  animation: primary 10s linear infinite;
}
.clouds .primary.slow {
  animation: primary 20s linear infinite;
}
.clouds .primary.bg {
  top: 50%;
}
.clouds .secondary {
  animation: secondary 10s linear infinite;
}
.clouds .secondary.slow {
  animation: primary 20s linear infinite;
}
.clouds .secondary.bg {
  top: 50%;
}
@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
.clouds.clouds-mobile {
  width: 100vw;
  height: 56px;
}
.clouds.clouds-mobile .scroll-parent {
  width: 512px;
  height: 56px;
}

/* -------- GSAP Animate Elements ------- */
.slide-title {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.slide-title.onscreen {
  opacity: 1;
  transform: translateX(0px);
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in.onscreen {
  opacity: 1;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in-left.onscreen {
  opacity: 1;
  transform: translateX(0px);
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in-right.onscreen {
  opacity: 1;
  transform: translateX(0px);
}

.fade-in-up,
.big-title {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fade-in-up.onscreen,
.big-title.onscreen {
  opacity: 1;
  transform: translateY(0px);
}

/*svg * { 
  transform-box: fill-box;
}*/
.bounce-in-top {
  opacity: 0;
  transform: scale(0);
}

.bounce-in {
  transform-origin: center center;
  opacity: 0;
}
.bounce-in.onscreen {
  opacity: 1;
  animation: bounce-in 1s ease forwards;
}

@keyframes bounce-in {
  0% {
    scale: 0.3;
  }
  50% {
    scale: 1.05;
  }
  70% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}

.float {
  position: absolute;
  display: block;
  pointer-events: none;
}
.float.masked {
  -webkit-mask-image: url("{{'mask-splat.svg' | asset_url}}");
  -webkit-mask-repeat: no-repeat;
  mask-image: url("{{'mask-splat.svg' | asset_url}}");
  mask-repeat: no-repeat;
  aspect-ratio: 473/452.4;
}
.float img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  min-height: 100%;
  width: 100%;
  display: block;
}
.float.licorice {
  width: 43px;
  height: auto;
}
@media (min-width: 768px) {
  .float.licorice {
    width: 60px;
  }
}
@media (min-width: 1280px) {
  .float.licorice {
    width: 94px;
  }
}
@media (min-width: 1440px) {
  .float.licorice {
    width: 110px;
  }
}
.float.fish {
  width: 135px;
  height: auto;
}
@media (min-width: 768px) {
  .float.fish {
    width: 220px;
  }
}
@media (min-width: 1280px) {
  .float.fish {
    width: 396px;
  }
}
@media (min-width: 1440px) {
  .float.fish {
    width: 396px;
  }
}
.float.pinwheel {
  width: 62px;
  height: auto;
}
@media (min-width: 768px) {
  .float.pinwheel {
    width: 115px;
  }
}

@keyframes hover-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.hover-up {
  animation: hover-up 4s ease-in-out infinite;
}

@keyframes hover-side {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
.hover-side {
  animation: hover-side 4s ease-in-out infinite;
}

@keyframes hover-rotate {
  0% {
    transform: rotate(0px);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hover-rotate {
  animation: hover-rotate 4s ease-in-out infinite;
}

@keyframes hover-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.hover-scale {
  animation: hover-scale 4s ease-in-out infinite;
}