@import "variables";
@import "mixins";
@import "fonts";
@import "_slick";


// ----------------- Set up various global theme styles ------------- //


/* ------ Cloud Scrolling ----- */


// Image Animation //
.clouds {

    overflow:hidden;
    position:relative;
    width:100vw;
    height:auto;

    .scroll-parent {
        position: absolute;
        overflow-x: hidden;
        top:0px;
        left:0px;
        min-width:100%;
        height:auto;
        aspect-ratio: 512 / 56;
     }

     .scroll-element {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        animation: primary 10s linear infinite;

        img {
            position:absolute;
            width:100%;
            height:100%;
            left:0px;
            top:0px;
        }
      }
    
      .primary {
        animation: primary 10s linear infinite;
    
        &.slow {
            animation: primary 20s linear infinite;
        }
        &.bg {
            top:50%;
        }
      }
      
      .secondary {
        animation: secondary 10s linear infinite;
    
        &.slow {
            animation: secondary 20s linear infinite;
        }
        &.bg {
            top:50%;
        }
    
      }
      
      @keyframes primary {
        from {
          left: 0%;
        }
        to {
          left: -100%;
        }
      }
      
      @keyframes secondary {
        from {
          left: 100%;
        }
        to {
          left: 0%;
        }
      }

    &.clouds-mobile {
        aspect-ratio: 512 / 56;

        .scroll-parent {
            aspect-ratio: 512 / 56;
        }
    }

    &.clouds-wide {
        aspect-ratio: 1877 / 188;

        .scroll-parent {
            aspect-ratio: 1877 / 188;
        }
    }

    &.bottom {
        position:absolute;
        left:0px;
        bottom:0px;
    }

}


/* -------- GSAP Animate Elements ------- */

.slide-title {
    opacity:0;
    transform:translateX(-50px);
    transition:all 1s ease 0s;
    
    @include animationfix();
    
    &.onscreen {
        opacity:1;
        transform:translateX(0px);
    }
  }
  .fade-in {
    opacity:0;
    transition:opacity 1s ease 0s;
    
    @include animationfix();
    
     &.onscreen {
        opacity:1;
    }
  }
  
  .fade-in-left {
    opacity:0;
    transform:translateX(-50px);
    transition:opacity 1s ease 0s, transform 1s ease 0s;
    
    @include animationfix();
    
     &.onscreen {
        opacity:1;
        transform:translateX(0px);
    } 
  }
  
  .fade-in-right {
    opacity:0;
    transform:translateX(50px);
    transition:opacity 1s ease 0s, transform 1s ease 0s;
    
    @include animationfix();
    
     &.onscreen {
        opacity:1;
        transform:translateX(0px);
    } 
  }
  
  
  .fade-in-up,
  .big-title {
    opacity:0;
    transform:translateY(50px);
    transition:opacity 1s ease 0s, transform 1s ease 0s;
    
    @include animationfix();
    
     &.onscreen {
        opacity:1;
        transform:translateY(0px);
    } 
  }

  .fade-in-down {
    opacity:0;
    transform:translateY(-100%);
    transition:opacity 1s ease 0s, transform 1s ease 0s;
    
    @include animationfix();
    
     &.onscreen {
        opacity:1;
        transform:translateY(0px);
    } 
  }

  /*svg * { 
    transform-box: fill-box;
  }*/
  .bounce-in-top {
    opacity:0;
    transform:scale(0);
  }
  
  .bounce-in {
    transform-origin: center center;
    opacity:0;
    
    &.onscreen {
      opacity:1;
      animation: bounce-in 1s ease forwards;
    }
  }
  @keyframes bounce-in {
    0% {
      scale: .3;
    }
    50% {
      scale: 1.05;
    }
    70% { scale: .9; }
    100% { scale: 1; }
  }
  
  
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  
  .float {
    position:absolute;
    display:block;
    pointer-events:none;
  
  
    img {
      z-index:1;
      object-fit: cover; 
      height: auto;
      min-height:100%;
      width:100%;
      display:block;
    }
  
  
  
  }
  
  @keyframes hover-up {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .hover-up {
    animation: hover-up 4s ease-in-out infinite;
  }
  @keyframes hover-side {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  .hover-side {
    animation: hover-side 4s ease-in-out infinite;
  }
  
  @keyframes hover-rotate {
    0% {
      transform: rotate(0px);
    }
    25% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .hover-rotate {
    animation: hover-rotate 4s ease-in-out infinite;
  }
  
  @keyframes hover-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .hover-scale {
    animation: hover-scale 4s ease-in-out infinite;
  }

/* -------- Star Randomizer ------- */

.stars {
  position:absolute;
  top:0px;
  left:0px;
  z-index:5;
  width:100%;
  height:100%;
  pointer-events: none;
  overflow:visible;
}
.star {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width:30px;

  @include breakpoint(tablet) {
    width:50px;
  }
}

/* ------ Drops ----- */

.drop {

  &.light {
      .icon-drop {
          fill:$light_blue;
      }
      .plus {
          fill:$medium_blue;
      }
  }
  &.medium {
      .icon-drop {
          fill:$medium_blue;
      }
      .plus {
          fill:$light_blue;
      }
  }
  &.timeline-drop {
      .icon-drop {
          fill:#bfbfbf;
      }
      .plus {
          fill:$white;
      }
  }
}


// ------------------ Toggle Items & FAQs--------------- //

.product-faqs {
  padding:60px 0px;

  @include breakpoint(tablet) {
    padding:100px 0px;
  }

  h2 {
    margin-bottom:40px;

    @include breakpoint(tablet) {
      margin-bottom:80px;
    }
  }
}
.toggle-view {
    
  padding:14px 0px 14px 0px;
  border-top:1px solid #cbcdce;
  margin:0px;
  
  .toggle-header {
      position:relative;
      width:100%;
      display:block;
      cursor:pointer;
      
      h3 {
          color:#616161;
          font-size:12px;
          width:95%;
          margin:0px;
          font-weight:400;
          letter-spacing:2px;
          text-transform:uppercase;
          position:relative;

          &::before {
            content:"";
            display:block;
            position:relative;
            margin-right:4px;
            aspect-ratio: 20.32 / 28.57;
            width:15px;
            height:auto;
            background-image:url(icon-drop-grey.svg);
            background-size:cover;
          }
          
          .faq-list & {
            color:$dark_blue;
            font-size:20px;
            width:95%;
            margin:0px;
            font-weight:600;
            letter-spacing:0px;
            text-transform:none;
          }
         
      }
      
      &::after {
          content:"+";
          color:$dark_blue;
          font-size:24px;
          position:absolute;
          right:0px;
          top:0px;
          font-weight:300;
          transition:all .4s ease 0s;
          //display:none;
      }

      .faq-list & {
        h3 {
          &::after {
            display:block;
          }
        }
      }
  }
  
  .panel {
      display:none;
      padding-top:24px;

      p {
        font-size:16px;
        font-weight:300;
        color:$dark_blue;
        line-height:1.5em;
        margin:0px 0px 18px 0px;

        &:last-child {
          margin-bottom:18px;
        }
      }

      img {
        width:100%;
        height:auto;
        margin:18px 0px;
      }
      
  }
  
  &.open {
      .toggle-header {
          &:after {
              transform:rotate(45deg)
          }
      }
  }
}